{% extends "skeleton.html" %}

{% block layout %}
<div class="archive">
    {% for year, issues_in_year in issues %}
        <div>{{ year }}</div>
        {% for issue in issues_in_year %}
            {% ifchanged issue.date.month %}
            <div>{{ issue.date|date:"F" }}</div>
            {% endifchanged %}
            <div><a href="{{ issue.get_absolute_number }}">{{ issue.relative_number }} ({{ issue.absolute_number }})</a></div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
