<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Газета &laquo;Завтра&raquo;{% endblock %}</title>
    <meta name="keywords" content="{% block meta_keywords %}проханов,свежий номер{% endblock %}" />
    <meta name="description" content="{% block meta_description %}Сетевое представительство газеты Завтра{% endblock %}" />
    <meta name="author" content="{% block meta_author %}Редакция газеты Завтра{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="yandex-verification" content="79bffe9a083206fe" />
    <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />
    <!--[if IE]>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
    <![endif]-->
    {% block meta_extra %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="Газета Завтра" href="http://zavtra.ru{% url corecontent.rss.latest %}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/zav_icon.gif" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% comment %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
    {% endcomment %}
    {%comment%}<script src="http://yandex.st/modernizr/2.0.6/modernizr.min.js"></script>{%endcomment%}
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% load compressed %}
    {% compressed_css 'main' %}
    {% block css %}{% endblock %}
    {% block js_extra_head %}{% endblock %}
    <script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27628875-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
    </script>
</head>

<body class="{% block body_class %}{% endblock %}{% if request.COOKIES.news_collapsed == 'true' %} collapsed{% endif %}">
<!-- tns-counter.ru -->
<script type="text/javascript">
var img = new Image();
img.src = 'http://www.tns-counter.ru/V13a***R>' + document.referrer.replace(/\*/g,'%2a') + '*zavtra_ru/ru/UTF-8/tmsec=zavtra_total/' + Math.round(Math.random() * 1000000000);
</script>
<noscript>
<img src="http://www.tns-counter.ru/V13a****zavtra_ru/ru/UTF-8/tmsec=zavtra_total/" width="1" height="1" alt="">
</noscript>
<!--/ tns-counter.ru -->
{% load utils %}{% load pytils_dt %}{% load pytils_numeral %}
{% block body %}
<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/"><img src="{{ STATIC_URL }}img/logo_inv.png" /></a>
      <ul class="nav">
        <!--<li><a href="/">Главная</a></li>-->
        <!--<li><a href="">Текущий выпуск</a></li>-->
        <li><a href="/content/rubric/voprosyi-prohanovu/">Вопросы Проханову</a></li>
        <li class="dropdown">
	    <a href="#" class="dropdown-toggle">Архив</a>
	    <ul class="dropdown-menu">
		<li><a href="/cgi//veil//data/zavtra/">Архив &laquo;Завтра&raquo;</a></li>
		<li><a href="/denlit/index.html">Архив &laquo;Дня литературы&raquo;</a></li>
	    </ul>
	</li>
        {% if request.user.is_authenticated and request.user.is_staff %}
        <li class="dropdown">
    	    <a href="#" class="dropdown-toggle">Редакционное</a>
    	    <ul class="dropdown-menu">
    		<li><a href="/editorial/">Редакционный блог</a></li>
    		<li><a href="http://mail.yandex.ru/for/zavtra.ru/">Почта zavtra.ru</a></li>
    		<li><a href="/?next_number=1">Новый номер</a></li>
    	    </ul>
    	</li>
        {% endif %}
      </ul>
      <form class="pull-left" action="{% url search %}">
        <input type="text" name="q" placeholder="Поиск..." />
      </form>
      <ul class="nav secondary-nav">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
    	  <a href="#" class="dropdown-toggle">{{ request.user.get_full_name }}.</a>
    	  <ul class="dropdown-menu">
    	    <li><a href="{% url logout %}">Выйти</a></li>
    	  </ul>
    	</li>
    	{% else %}
        <li><a href="{% url login %}">Войти</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div>{% with source=quote.get_source %}
  <blockquote class="top-quote">
    <a href="{{ source.get_absolute_url }}">{{ quote.quote }}</a>
    {% if source.authors_all %}<small>{% for author in source.authors_all %}
    {{ author.get_full_name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}</small>{% endif %}
  </blockquote>
{% endwith %}</div>

<div class="container-fluid">
  <div class="content smooth ">
    <ul class="unstyled rubrics topbar-inner">
	{% for item in top_rubrics %}
	<li {% if forloop.last %}class="last"{% endif %}><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
	{% endfor %}
    </ul>
    <ul class="unstyled featured well">
	<li class="first"><a href="{% url corecontent.view.featured_index %}">Каждый день:</a></li>
	{% for item in featured %}
	<li {% if forloop.last %}class="last"{% endif %}><a href="{{ item.get_absolute_url }}">{{ item.title|title }}</a></li>
	{% endfor %}
    </ul>
  </div>
  <div class="content smooth ">
    <div class="row">
	<div class="span12 last stripe">
	    <h3>Красная строка</h3>
    	    <div id="red_stripe">
    		<span class="snav prev"></span>
    		<span class="snav next"></span>
    		<div class="scrollable">
    		    <div class="items">
        		{% for group in current_items|in_groups_of:3 %}
    			<div class="item">
			    {% for item in group %}
			    <div class="third" data-link="{{ item.get_absolute_url }}">
				<h4><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></h4>
        			{{ item.description|safe }}
			    </div>
			    {% endfor %}
			</div>
    			{% endfor %}
    		    </div>
    		</div>
    	    </div>
	</div>
    </div>
  </div>
  <div class="content smooth gstyle">{% block content %}{% endblock %}</div>
  <div class="sidebar smooth">
    {% if request.COOKIES.news_collapsed == 'true' %}
    <a href="#" class="smooth collapse" title="свернуть">&lt;&lt;&lt;</a>
    {% else %}
    <a href="#" class="smooth collapse" title="свернуть">&gt;&gt;&gt;</a>
    {% endif %}
    <div class="well">
      <h3 class="smooth"><a href="/content/rubric/novosti/">Новости</a></h3>
      <ul class="unstyled smooth news rubric">
        {% for item in news %}
        <li>
          <h5><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></h5>
          <h6>{{ item.pub_date|ru_strftime:"%d %B %Y" }}</h6>
          <div class="txt">{{ item.description|safe }}</div>
          <a href="{{ item.get_absolute_url }}#comments" class="pull-right">{{ item.comments_count|get_plural:"комментарий,комментария,комментариев" }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

<footer class="container-fluid">
    <div class="row">
	<div class="span4">
	    <address>
		<strong>Адрес редакции:</strong><br/>
		119146, Москва, Фрунзенская наб., 18–60<br/>
		Электронная почта: <a href="mailto:zavtra@zavtra.ru">zavtra@zavtra.ru</a><br/>
		Телефон: (495) 726-54-83
	    </address>
	</div>
	<div class="span8 last">
	    <a href="http://zavtra.ru/content/rubric/tehnicheskij-blog/">Технический блог</a><br/>
	    Электронная почта технического отдела <a href="mailto:web@zavtra.ru">web@zavtra.ru</a>.
	</div>
    </div>
</footer>

{% block javascript_library %}
<script src="http://yandex.st/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/jquery.1.7.min.js"%3E%3C/script%3E'))</script>
{% endblock %}
<!--[if lt IE 7 ]>
<script src="{{ STATIC_URL }}js/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->
<div style="display:none;"><script type="text/javascript"> 
(function(w, c) { 
    (w[c] = w[c] || []).push(function() { 
        try { 
            w.yaCounter11286280 = new Ya.Metrika({id:11286280, enableAll: true, webvisor: true}); 
        } 
        catch(e) { } 
    }); 
})(window, "yandex_metrika_callbacks"); 
</script></div> 
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script> 
<noscript><div><img src="//mc.yandex.ru/watch/11286280" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
<!-- /Yandex.Metrika counter --> 
<div id="fb-root"></div><div id="vk-root"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery.1.7.min.js"%3E%3C/script%3E'))</script>
{% comment %}
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-twipsy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/core.js"></script>
<script src="{{ STATIC_URL }}js/comments.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>
{% endcomment %}
{% compressed_js 'main' %}
{%spaceless%}<script type="text/javascript">
/*
window.vkAsyncInit=function(){VK.Widgets.Group("vk_groups",{mode:1,width:"270",height:"290"},32969466);};
setTimeout(function(){var el = document.createElement("script");el.type = "text/javascript";el.src = "http://vkontakte.ru/js/api/openapi.js";el.async = true;document.getElementById("vk-root").appendChild(el);}, 0);
setTimeout(function(){(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=175357809210274";js.async=true;fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));}, 0);
setTimeout(function(){(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();}, 0);
setTimeout(function(){!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";js.async=true;fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");}, 0);
window.___gcfg = {lang: 'ru'};
*/
$(function(){
  //$('a[rel=inline]').colorbox({close:'Закрыть'});$('a.gallery').colorbox({close:'Закрыть'});
  $('.topbar').dropdown();
  $('a[rel=popover]').popover();
  if (window.modal_bootstrap) window.modal_bootstrap();
  if (window.comments_bootstrap) window.comments_bootstrap();
  {% block javascript %}{% endblock %}
});
</script>{%endspaceless%}
{% block banners_js %}{% endblock %}
</body>
</html>