<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Газета &laquo;Завтра&raquo;{% endblock %}</title>
    <meta name="keywords" content="{% block meta_keywords %}проханов,свежий номер{% endblock %}" />
    <meta name="description" content="{% block meta_description %}Сетевое представительство газеты Завтра{% endblock %}" />
    <meta name="author" content="{% block meta_author %}Редакция газеты Завтра{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="yandex-verification" content="79bffe9a083206fe" />
    {% block meta_extra %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="Газета Завтра" href="http://zavtra.ru{% url corecontent.rss.latest %}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/zav_icon.gif" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
    {% comment %}
    {% load compressed %}
    {% compressed_css 'main' %}
    {% endcomment %}
    {% block css %}{% endblock %}
    {% block js_extra_head %}{% endblock %}
    <script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27628875-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
    </script>
</head>

<body class="{% block body_class %}{% endblock %}{% if request.COOKIES.news_collapsed == 'true' %} collapsed{% endif %}">
<!-- tns-counter.ru -->
<script type="text/javascript">
var img = new Image();
img.src = 'http://www.tns-counter.ru/V13a***R>' + document.referrer.replace(/\*/g,'%2a') + '*zavtra_ru/ru/UTF-8/tmsec=zavtra_total/' + Math.round(Math.random() * 1000000000);
</script>
<noscript>
<img src="http://www.tns-counter.ru/V13a****zavtra_ru/ru/UTF-8/tmsec=zavtra_total/" width="1" height="1" alt="">
</noscript>
<!--/ tns-counter.ru -->
{% load utils %}{% load pytils_dt %}{% load pytils_numeral %}
{% block body %}
<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/"><img src="{{ STATIC_URL }}img/logo_inv.png" /></a>
      <ul class="nav">
        <!--<li><a href="/">Главная</a></li>-->
        <!--<li><a href="">Текущий выпуск</a></li>-->
        <li><a href="/cgi//veil//data/zavtra/">Архив &laquo;Завтра&raquo;</a></li>
        <li><a href="/denlit/index.html">Архив &laquo;Дня литературы&raquo;</a></li>
        {% if request.user.is_authenticated and request.user.is_staff %}<li><a href="/editorial/">Редакционный блог</a></li>{% endif %}
      </ul>
      <form class="pull-left" action="{% url search %}">
        <input type="text" name="q" placeholder="Поиск..." />
      </form>
      <ul class="nav secondary-nav">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
    	  <a href="#" class="dropdown-toggle">{{ request.user.get_full_name }}.</a>
    	  <ul class="dropdown-menu">
    	    <li><a href="{% url logout %}">Выйти</a></li>
    	  </ul>
    	</li>
    	{% else %}
        <li><a href="{% url login %}">Войти</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div>{% with source=quote.get_source %}
  <blockquote class="top-quote">
    <a href="{{ source.get_absolute_url }}">{{ quote.quote }}</a>
    {% if source.authors_all %}<small>{% for author in source.authors_all %}
    {{ author.get_full_name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}</small>{% endif %}
  </blockquote>
{% endwith %}</div>


<div class="container-fluid">
  <div class="content smooth">
    <ul class="unstyled rubrics topbar-inner">
	{% for item in top_rubrics %}
	<li {% if forloop.last %}class="last"{% endif %}><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
	{% endfor %}
    </ul>
    <ul class="unstyled featured well">
	<li class="first"><a href="{% url corecontent.view.featured_index %}">Каждый день:</a></li>
	{% for item in featured %}
	<li {% if forloop.last %}class="last"{% endif %}><a href="{{ item.get_absolute_url }}">{{ item.title|title }}</a></li>
	{% endfor %}
    </ul>
  </div>
  <div class="content smooth">{% block content %}{% endblock %}</div>
  <div class="sidebar smooth">
    {% if request.COOKIES.news_collapsed == 'true' %}
    <a href="#" class="smooth collapse" title="свернуть">&lt;&lt;&lt;</a>
    {% else %}
    <a href="#" class="smooth collapse" title="свернуть">&gt;&gt;&gt;</a>
    {% endif %}
    <div class="well">
      <h3 class="smooth"><a href="/content/rubric/novosti/">Новости</a></h3>
      <ul class="unstyled smooth news rubric">
        {% for item in news %}
        <li>
          <h5><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></h5>
          <h6>{{ item.pub_date|ru_strftime:"%d %B %Y" }}</h6>
          <div class="txt">{{ item.description|safe }}</div>
          <a href="{{ item.get_absolute_url }}#comments" class="pull-right">{{ item.comments_count|get_plural:"комментарий,комментария,комментариев" }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
    
{% block javascript_library %}
{% comment %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/jquery.1.7.min.js"%3E%3C/script%3E'))</script>
{% compressed_js 'main' %}
{% endcomment %}
{% endblock %}
<!--[if lt IE 7 ]>
<script src="{{ STATIC_URL }}js/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->
<div style="display:none;"><script type="text/javascript"> 
(function(w, c) { 
    (w[c] = w[c] || []).push(function() { 
        try { 
            w.yaCounter11286280 = new Ya.Metrika({id:11286280, enableAll: true, webvisor: true}); 
        } 
        catch(e) { } 
    }); 
})(window, "yandex_metrika_callbacks"); 
</script></div> 
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script> 
<noscript><div><img src="//mc.yandex.ru/watch/11286280" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
<!-- /Yandex.Metrika counter --> 
<div id="fb-root"></div><div id="vk-root"></div>
{%comment%}<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?34"></script>{%endcomment%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery.1.7.min.js"%3E%3C/script%3E'))</script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-twipsy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/core.js"></script>
<script src="{{ STATIC_URL }}js/comments.js"></script>
<script src="{{ STATIC_URL }}js/jquery.galleriffic.js"></script>
{%spaceless%}<script type="text/javascript">
/*
window.vkAsyncInit=function(){VK.Widgets.Group("vk_groups",{mode:1,width:"270",height:"290"},32969466);};
setTimeout(function(){var el = document.createElement("script");el.type = "text/javascript";el.src = "http://vkontakte.ru/js/api/openapi.js";el.async = true;document.getElementById("vk-root").appendChild(el);}, 0);
setTimeout(function(){(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=175357809210274";js.async=true;fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));}, 0);
setTimeout(function(){(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();}, 0);
setTimeout(function(){!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";js.async=true;fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");}, 0);
window.___gcfg = {lang: 'ru'};
*/
$(function(){
  //$('a[rel=inline]').colorbox({close:'Закрыть'});$('a.gallery').colorbox({close:'Закрыть'});
  $('.topbar').dropdown();
  $('a[rel=popover]').popover();
  if (window.modal_bootstrap) window.modal_bootstrap();
  if (window.comments_bootstrap) window.comments_bootstrap();
  {% block javascript %}{% endblock %}
});
</script>{%endspaceless%}
<script charset="windows-1251" type="text/javascript" src="http://www.directadvert.ru/show.cgi?adp=49094&div=DIV_DA_49094"></script>
<script charset="windows-1251" type="text/javascript" src="http://www.directadvert.ru/show.cgi?adp=49095&div=DIV_DA_49095"></script>
<script charset="windows-1251" type="text/javascript" src="http://www.directadvert.ru/show.cgi?adp=49096&div=DIV_DA_49096"></script>
</body>
</html>
