<!doctype html>
<!--[if lt IE 7 ]> <html lang="ru" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ru" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Газета &laquo;Завтра&raquo;{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% comment %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />
    {% endcomment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/css3-buttons.css" />
    {% block css %}{% endblock %}
    <script src="{{ STATIC_URL }}js/modernizr.min.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
{% load utils %}
{% block body %}
    <header class="container container_16 clearfix">
        <figure class="grid_12 alpha">
            <a href="/"><img src="{{ STATIC_URL }}img/logo.gif" width="278" height="60"></a>
        </figure>
        <div class="grid_4 omega">
            <a rel="inline" href="{% url login %}">Войти</a>
        </div>
    </header>
    <nav class="container container_16 clearfix top-nav">
        <div class="grid_16 alpha omega">
            <ul class="primary">
               {% for rubric in rubrics|filter_by_field:"on_top" %}
               <li><a href="{{ rubric.get_absolute_url }}">{{ rubric.title|safe }}</a></li>
               {% endfor %}
               <li class="search last"><input type="search" name="q" placeholder="поиск..."></li>
            </ul>
            <ul class="secondary">
                {% for item in featured %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>    
    <div id="main" role="main">{% block content %}{% endblock %}</div>
    <footer class="container container_16 clearfix">
        <div class="grid_16 alpha omega">
            &copy;&nbsp;1996&ndash;{% now "Y" %} газета &laquo;Завтра&raquo;<br/>
            <a href="mailto:zavtra@zavtra.ru">Электронная почта</a>.
            Адрес редакции: 119146, Москва, Фрунзенская наб., 18&ndash;60. Телефон: (495) 726-54-83.
        </div>
    </footer>
{% endblock %}
    
{% block javascript_library %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/jquery.1.6.4.min.js"%3E%3C/script%3E'))</script>
<script src="{{ STATIC_URL }}js/comments.js"></script>
<script src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
<script>
$(document).ready(function(){
    $('a[rel=inline]').colorbox();
});
</script>
{% endblock %}
{% block javascript %}{% endblock %}
<!--[if lt IE 7 ]>
<script src="{{ STATIC_URL }}js/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->
{% comment %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=175357809210274";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?34"></script>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "290"}, 20003922);
</script>
{% endcomment %}
</body>
</html>
