{% load mptt_tags %}
{% load pytils_dt %}
{% load pytils_numeral %}
{% load comments %}

{% if request.user.is_authenticated %}
<script>
var cmnt = '\
    <li class="comment">\
        <div class="user"><a href="{{ request.user.get_absolute_url }}">{{ request.user.username }}</a>, </div>\
        <div class="date">{% templatetag openvariable %} created_at {% templatetag closevariable %}</div>\
        <div class="text">{% templatetag openvariable %} comment {% templatetag closevariable %}</div>\
        <a class="ajax-link" href="#reply-to:{% templatetag openvariable %} id {% templatetag closevariable %}">Ответить</a>\
    </li>';
$(document).ready(function(){
    var reply_form = $('form.comment-form'),
        textarea = $('textarea', reply_form);
    var links = $('div.comments a.ajax-link').live('click', function(){
        var link = $(this);
        var parent_id = link.attr('href').split(':')[1];
        links.show();
        link.hide();
        link.after(reply_form);
        $('#id_parent', reply_form).val(parent_id);
        return false;
    });
    reply_form.submit(function(){
        $.post(reply_form.attr('action'), reply_form.serialize(), function(data){
            if (!data['status']) {
                // glow with errors
            } else {
                var root;
                if (data['comment']['parent']) {
                    root = $('div.comments a[href^="#reply-to:'+data['comment']['parent']+'"]').parent();
                    if ($('ul', root).size() == 0) root.append('<ul></ul>');
                    root = $('ul', root);
                } else {
                    root = $('div.comments > ul');
                }
                root.append(Mustache.to_html(cmnt, data['comment']));
                $('div.comments').after(reply_form);
                links.show();
                textarea.val('');
            }
        });
        return false;
    });
});
</script>
{% endif %}
<div class="comments">
    <p>
    {% if comments.count %}
    К этой статье оставлено {{ comments.count|get_plural:"комментарий,комментария,комментариев" }}.
    {% else %}
    К этой статьей еще нет ни одного комментария.
    {% endif %}
    </p>
    <ul>
        {% recursetree comments %}
        <li class="comment">
            <div class="user"><a href="{{ node.author.get_absolute_url }}">{{ node.author.username }}</a>, </div>
            <div class="date">{{ node.created_at|ru_strftime }}</div>
            <div class="text">{{ node.comment }}</div>
            {% if request.user.is_authenticated %}<a class="ajax-link" href="#reply-to:{{ node.id }}">Ответить</a>{% endif %}
            {% if not node.is_leaf_node %}
            <ul>{{ children }}</ul>
            {% endif %}
         </li>
        {% endrecursetree %}
    </ul>    
    {% if request.user.is_authenticated %}
        {% comment_form_for item %}
    {% endif %}
</ul>
