<div class="comments">
    <header><h1>Комментарии</h1></header>
    <div class="content">
        <dl id="comments_block_list">
            {% for comment in comments %}
            {% include 'comments/item.html' %}
            {% endfor %}
        </dl>
        {% if request.user.is_authenticated %}
        <form method="post" action="{% url comments.add %}">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="buttons">
                <button type="submit" class="button"><span class="label">Отправить</span></button>
            </p>
        </form>
        {% else %}
	<p>Чтобы иметь возможность оставлять комментарии, вам нужно <a rel="inline" href="{% url login %}">войти в свою учетную запись (на сайте существует возможность зайти под учетной записи Twitter, Facebook и Живого Журнала)</a>  или <a href="{% url accounts.register %}">зарегистрировать её</a>, если у вас таковой еще нет.</p>
        {% endif %}
    </div>
</div>