{% extends base_template %}

{% load utils %}
{% load minipoll_tags %}
{% load pytils_dt %}
{% load pytils_numeral %}

{% block body_class %}gazette{% endblock %}

{% block content %}
  <div class="row">
    <div class="span8 rubric">
      <figure class="top-illustration">
        <img src="{{ MEDIA_URL }}{{ illustration.for_main }}" />
        <figcaption><h3>&laquo;{{ illustration.title }}&raquo;, <a href="{% url corecontent.view.zhivotov_gallery %}">Геннадий Животов</a></h5></figcaption>
      </figure>
      <h1>Выпуск №{{ issue_info.num }}&nbsp;<small>от {{ issue_info.date|ru_strftime:"%d %B %Y" }}</small></h1>
      {% for group in newsletter %}
      {% if forloop.counter == 4 %}
      {% comment %}<div style="width:100%; background: red; color: white; text-align: center;; line-height: 100px; height: 100px;">[min 500xN]</div>{% endcomment %}
      <h3>Реклама</h3>
      <div id="DIV_DA_49096"></div>
      {% endif %}
      {% include 'partials/rubric.block.html' with rubric=group.rubric items=group.items %}
      {% endfor %}
    </div>
    <div class="span4 rubric last">
      {% if zavtra_tv %}
      <div class="specialitaet">
        {% for item in zavtra_tv %}
        <figure>
    	    <img src="http://img.youtube.com/vi/{{ item.get_video_id }}/0.jpg" />
    	    <figcaption>
    		<h3><a href="/content/rubric/zavtratv/">Завтра.LIVE:</a></h3>
    		<h4><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></h4>
    		<a href="{{ item.get_absolute_url }}#comments" class="pull-right">{{ item.comments_count|get_plural:"комментарий,комментария,комментариев" }}</a>
    	    </figcatpion>
        </figure>
        {% endfor %}
      </div>
      {% endif %}

      {% comment %}<div style="width:100%; background: red; color: white; text-align: center;; line-height: 100px; height: 100px;">[min 232xN]</div>{% endcomment %}
      <h3>Реклама</h3>
      <div id="DIV_DA_49094"></div>

      {% if special_project %}
      <h3><a href="/content/rubric/spetsproekt-2/">Спецпроект</a></h3>
      <div>
	<h5><a title="{{ special_projec.title }}" href="{{ special_project.get_absolute_url }}">{{ special_project.title|safe }}</a></h5>
	<div class="txt"><a title="{{ special_projec.title }}" href="{{ special_project.get_absolute_url }}">{{ special_project.description|safe }}</a></div>
      </div>
      {% endif %}

      <h3>Рейтинг слухов</h3>
      <div>{% display_last_poll %}</div>

      {% comment %}<div style="width:100%; background: red; color: white; text-align: center;; line-height: 200px; height: 200px;">[min 232xN]</div>{% endcomment %}
      <h3>Реклама</h3>
      <div id="DIV_DA_49095"></div>

      {% comment %}
      <h3>Красная строка</h3>
      <ul class="unstyled">
        {% for item in current %}
        <li class="clearfix">
          <h5><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></h5>
          <h6>{{ item.pub_date|ru_strftime:"%d %B %Y" }}</h6>
          <div class="txt">{{ item.description|safe }}</div>
          <a href="{{ item.get_absolute_url }}#comments" class="pull-right">{{ item.comments_count|get_plural:"комментарий,комментария,комментариев" }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endcomment %}
    </div>
  </div>
{% endblock %}

{% block banners_js %}
{{ block.super }}
<script charset="windows-1251" type="text/javascript" src="http://www.directadvert.ru/show.cgi?adp=49094&div=DIV_DA_49094"></script>
<script charset="windows-1251" type="text/javascript" src="http://www.directadvert.ru/show.cgi?adp=49095&div=DIV_DA_49095"></script>
<script charset="windows-1251" type="text/javascript" src="http://www.directadvert.ru/show.cgi?adp=49096&div=DIV_DA_49096"></script>
{% endblock %}