{% extends base_template %}

{% load utils %}
{% load minipoll_tags %}
{% load pytils_dt %}

{% block javascript %}
{{ block.super }}
(function(){
    var minHeight = parseInt($('div.news').css('minHeight'));
    var inner = function(){
	var maxHeight = $('article.top-image').height() - 45;
	if (maxHeight > minHeight) $('div.news').css({'maxHeight': maxHeight + 'px'});
    };
    inner();
    $(window).resize(inner);
    var scw = $('.scrollable').width();
    $('.scrollable .item').css({width: scw + 'px'});
    $('.items').css({width:'2000em'});
    var scbl = $('.scrollable').scrollable({circular: true});
})();
{% endblock %}

{% block content %}
<section class="container container_16 clearfix">
    <article class="top-image grid_12 alpha">
        <figure>
    	    {% if illustration %}
    	    <a title="{{ illustration.title }}" rel="inline" href="{{ MEDIA_URL }}{{ illustration.original }}"><img src="{{ MEDIA_URL }}{{ illustration.thumbnail }}"></a>
	    {% else %}
            <a rel="inline" href="{{ STATIC_URL }}img/givot_big.jpg"><img src="{{ STATIC_URL }}img/givot_sra.jpg"></a>
            {% endif %}
            <figcaption><a href="{% url corecontent.view.zhivotov_gallery %}">Геннадий Животов</a></figcaption>
        </figure>
	<article class="red-arrow block clearfix">
	    <header><h1>Красная строка<span class="small"><a href="{% url corecontent.view.unpublished_view %}">еще</a></span></h1></header>
	    <div class="scrollable"><div class="items">
	    {% for group in current %}
	    <div class="item">
		{% for item in group %}
		<article class="third">
		    <div class="content">
			<h2><a href="{{ item.get_absolute_url }}">{{ item.title|safe|truncatewords_html:3 }}</a></h2>
			<div><small>{{ item.pub_date|ru_strftime:"%d %B %Y" }}</small></div>
			<div class="inner {% if item.kind == 'video' or item.kind == 'image'%}text-center{% endif %}">
			{% if item.kind == 'video' %}
			<a href="{{ item.get_absolute_url }}"><img class="real" src="http://img.youtube.com/vi/{{ item.get_video_id }}/1.jpg" /></a>
			{% endif %}
			{% if item.kind == 'image' %}
			<a href="{{ item.get_absolute_url }}"><img class="real" src="{{ MEDIA_URL }}{{ item.thumbnail }}" /></a>
			{% endif %}
			{% if item.kind == 'text' %}
			<a href="{{ item.get_absolute_url }}">{{ item.description|safe|truncatewords_html:25 }}</a>
			{% endif %}
			</div>
		    </div>
		</article>
		{% endfor %}
	    </div>
	    {% endfor %}
	    </div></div>
	    <div class="buttons">
		<a class="button prev"><span class="icon icon63"></span></a>
		<a class="at_right button next"><span class="icon icon64"></span></a>
	    </div>
	</article>
    </article>
    <article class="grid_4 omega block rubric-info">
	<header><h1>Новости<span class="small"><a href="{% url corecontent.view.rubric slug='novosti' %}">ещё</a></span></h1></header>
	<div class="news">
	    <dl class="content">
		{% for item in news %}
		<dt><small>{{ item.pub_date|ru_strftime }}</small>&nbsp;<a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title }}</a></dt>
		<dd>{{ item.description|safe }}</dd>
		{% endfor %}
	    </dl>
	</div>
    </article>
</section>
<section class="container container_16 clearfix">
    <article class="grid_16 alpha omega block issue-initiator">
	<header><h1>Выпуск №{{ issue_info.num }} от {{ issue_info.date|ru_strftime:"%d %B %Y" }}</h1></header>
    </article>
    <article class="grid_4 alpha rubric-info">
        {% for group in newsletter|slice:"0::3" %}
        {% include 'partials/rubric.block.html' with rubric=group.rubric items=group.items %}
        {% endfor %}
    </article>
    <article class="grid_4 rubric-info">
        {% for group in newsletter|slice:"1::3" %}
        {% include 'partials/rubric.block.html' with rubric=group.rubric items=group.items %}
        {% endfor %}
    </article>
    <article class="grid_4 rubric-info">
        {% for group in newsletter|slice:"2::3" %}
        {% include 'partials/rubric.block.html' with rubric=group.rubric items=group.items %}
        {% endfor %}
    </article>
    <article class="grid_4 omega block">
	<aside class="content">
	    <p class="text-center">
	        <a href="{{ STATIC_URL }}img/banners/kupon.gif" title="Купон на Проханова"><img src="{{ STATIC_URL }}img/banners/kupon1.gif" alt="Купон на Проханова" /></a>
		<br />
		<a href="{{ STATIC_URL }}img/banners/kupon.gif" title="Купон на Проханова">Купон на Проханова</a>
	    </p>
	</aside>
	<article>
	    <header><h1>Свежий номер в PDF</h1></header>
	    <div class="content text-center">
		<a href="{{ MEDIA_URL }}content/pdfs/51PDF.zip"><img src="{{ MEDIA_URL }}content/pdfs/51.jpg"></a>
	    </div>
	</article>
        <article>
            <header><h1>Рейтинг слухов</h1></header>
            <div class="content">{% display_last_poll %}</div>
        </article>
        <article>
            <header><h1>Присоединяйся</h1></header>
            <div class="content text-center">
		<div class="g-plusone" data-annotation="inline" data-width="270" data-href="http://zavtra.ru"></div>
        	{%comment%}<p class="buttons text-left"><a class="button" href="http://www.yandex.ru/?add=84713&amp;from=promocode">Виджет Яндекса</a></p>{%endcomment%}
        	<div class="twy"><a href="https://twitter.com/ZavtraRu" class="twitter-follow-button" data-show-count="true" data-lang="ru" data-size="large">Следуй за @ZavtraRu</a></div>
		<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fzavtraru&amp;width=270&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=true&amp;header=true&amp;appId=175357809210274" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:427px;" allowTransparency="true"></iframe>
		{% comment %}
                <div class="fb-like-box"
                     data-href="http://www.facebook.com/pages/%D0%93%D0%B0%D0%B7%D0%B5%D1%82%D0%B0-%D0%97%D0%B0%D0%B2%D1%82%D1%80%D0%B0/322470664449397"
                     data-width="270"
                     data-show-faces="true"
                     data-stream="false"
                     data-header="true">
                </div>
                {% endcomment %}
                <div id="vk_groups"></div>
            </div>
        </article>
        <article>
    	    <header><h1>Нейромир<span class="small"><a href="http://zavtra.ru/content/rubric/nejromir-tv/" title="Нейромир-ТВ">ещё</a></span></h1><header>
    	    <dl class="content">
    		<dt><a href="{{ neuromir.get_absolute_url }}">{{ neuromir.title|safe }}</a></dt>
    		<dd class="text-center"><a href="{{ neuromir.get_absolute_url }}"><img src="http://img.youtube.com/vi/{{ neuromir.get_video_id }}/1.jpg" /></a></dd>
    	    </dl>
        </article>
        <aside class="block">
            <header><h1>Наши друзья</h1></header>
            <div class="content text-center">
        	<a rel="nofollow" href="http://id-dostoinstvo.ru/page/51.html"><img src="{{ STATIC_URL }}img/banners/calendar.gif" /></a>
            </div>
        </aside>
    </article>
</section>
{% endblock %}