<%inherit file="base.html" />
<%block name="main_column">
<h3>Живая лента</h3>
<ul class="nav nav-pills" id="periodSelector">
    <li class="active"><a href="#qty:20">20</a></li>
    <li><a href="#qty:50">50</a></li>
    <li><a href="#qty:100">100</a></li>
    <li><a href="#qty:200">200</a></li>
</ul>
<div class="comments"><ul id="comments" class="unstyled"></ul></div>
</%block>
<%block name="javascript_additional">
${ parent.javascript_additional() }
<script>
(function(){
    var root = $('#comments'), updating = false, uh = null, start = null;
    var updateComments=function(){
	if (updating) return;
	var qty = $('#periodSelector li.active a').attr('href').split(':')[1];
	nStart = new Date();
	updating = true;
	$.get('/live/update/', {'qty': qty, 'start': start}, function(data){
	    for (var i = 0, i$l = data['stream'].length; i < i$l; i++) $(data['stream'][i]).prependTo(root);
	    updating = false;
	    start = Math.floor(nStart.getTime()/1000);
	});
	uh = setTimeout(updateComments, 30*1000);
    }
    $('#periodSelector li a').click(function(){
	root.empty();
	$('#periodSelector li').removeClass('active');
	$(this).parents('li').addClass('active');
	start = null;
	if (uh) clearTimeout(uh);
	updateComments();
    });
    if (window.location.hash.indexOf('#qty') != -1) $('#periodSelector li a[href="'+window.location.hash+'"]').click();
    else updateComments();
})();
</script>
</%block>