{% extends base_template %}
{% block content %}
<div class="row">
    <article class="span8 rubric">
	<h3>Живая лента</h3>
	<ul class="pills" id="periodSelector">
	    <li class="active"><a href="#period:1">За час</a></li>
	    <li><a href="#period:4">За 4 часа</a></li>
	    <li><a href="#period:12">За 12 часов</a></li>
	    <li><a href="#period:24">За сутки</a></li>
	</ul>
	<div class="content">
	    <div class="comments">
		<ul id="comments"></ul>
	    </div>
	</div>
    </article>
    <article class="span4 last">{% include 'partials/rightside.html' %}</article>
</div>
{% endblock %}

{% block javascript %}
(function(){
    var root = $('#comments'), updating = false, start = false;
    $('#periodSelector li a').click(function(){
	root.empty();
	$('#periodSelector li').removeClass('active');
	$(this).parents('li').addClass('active');
	start = false;
    });
    if (window.location.hash.indexOf('#period') != -1) $('#periodSelector li a[href="'+window.location.hash+'"]').click();
    var updateComments=function(){
	if (updating) return;
	var period = $('#periodSelector li.active a').attr('href').split(':')[1];
	var nStart = new Date();
	updating = true;
	$.get('/live/update/', {'period': period, 'start': start}, function(data){
	    for (var i = 0, i$l = data['stream'].length; i < i$l; i++) $(data['stream'][i]).prependTo(root);
	    updating = false;
	    start = Math.floor(nStart.getTime()/1000);
	});
	setTimeout(updateComments, 60*1000);
    }
    updateComments();
})();
{% endblock %}