<%inherit file="base.html" />
<%block name="page_title">${ parent.page_title() } / Вход</%block>
<%block name="main_column">\
<div class="accordion" id="reg-accordion">
<div class="accordion-group">
    <h3 class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#reg-accordion" href="#simple-login">Войдите с помощью аккаунта на сайте</a></h3>
    <div class="accordion-body collapse in" id="simple-login">
	<div class="accordion-inner">
	    % if login_fail:
	    <div class="alert alert-block alert-error">Ошибка!</div>
	    % endif
	    <form method="post" action="/login/" class="form-inline">
		<fieldset>
		    <label for="login_username">Логин:</label>
		    <input id="login_username" type="text" name="username" />
		    <label for="login_passwrod">Пароль</label>
		    <input id="login_password" type="password" name="password" />
		    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
		    <input type="submit" class="btn btn-success btn" value="Войти" />
		    <br/><br/>
		    <a href="/accounts/register/" class="btn btn-large">Регистрация</a>
		    <%doc><a href="/accounts/remind/" class="btn btn-large btn-info">Забыли пароль?</a></%doc>
		</fieldset>
	    </form>
	</div>
    </div>
</div>
<div class="accordion-group">
    <h3 class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#reg-accordion" href="#social-login">...или с помощью аккаунта в социальной сети</a></h3>
    <div class="social social-b accordion-body collapse in" id="social-login">
	<div class="accordion-inner">
	% for auth, services in social_auth['backends'].items():
	    % for service in services:
	    <%
	    url = "/login/" + service + "/" if auth != 'openid' else "#modal-" + service
	    data = "data-toggle=\"modal\"" if auth == 'openid' else ""
	    %>
	    <a href="${ url }" class="${ service }" rel="nofollow" ${ data }></a>
	    % endfor
	% endfor
	</div>
    </div>
</div>
</div>
<div class="modal fade" id="modal-openid">
    <form method="post" action="/login/openid">
    <div class="modal-header"><h3>Вход по OpenId</h3></div>
    <div class="modal-body">
	<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
	<label for="openid_identifier">OpenId:</label>
	<input type="text" name="openid_identifier" id="openid_identifier" />
    </div>
    <div class="modal-footer"><button type="submit" class="btn btn-success">Войти</button><a href="#" class="btn btn-danger" data-dismiss="modal">Отмена</a></div>
    </form>
</div>
<div class="modal fade" id="modal-livejournal">
    <form method="post" action="/login/livejournal/">
    <div class="modal-header"><h3>Вход через LiveJournal</h3></div>
    <div class="modal-body">
	<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
	<label for="openid_lj_user">Аккаунт в ЖЖ:</label>
	<input type="text" name="openid_lj_user" id="openid_lj_user" />
    </div>
    <div class="modal-footer"><button type="submit" class="btn btn-success">Войти</button><a href="#" class="btn btn-danger" data-dismiss="modal">Отмена</a></div>
    </form>
</div>
</%block>