<div>
  Войдите с помощью <a href="http://openid.net/" title="OpenId">OpenId</a>, используя:
  <ul>
  {% for name in social_auth.backends.openid %}
    <li>
    {% if name != "livejournal" and name != "openid" %}
        <a rel="nofollow" href="{% url socialauth_begin name %}">{{ name|title }}</a>
    {% else %}
      {% if name == "livejournal" %}
      <form action="{% url socialauth_begin "livejournal" %}" method="post">{% csrf_token %}
        <div>
          <label for="openid_lj_user">Аккаунт ЖЖ (Livejournal):</label>
          <input id="openid_lj_user" type="text" value="" name="openid_lj_user" />
          <input type="submit" value="Login"/>
        </div>
      </form>
      {% else %}
        {% if name == "openid" %}
        <form action="{% url socialauth_begin "openid" %}" method="post">{% csrf_token %}
          <div>
            <label for="openid_identifier">Другой провайдер OpenId</label>
            <input id="openid_identifier" type="text" value="" name="openid_identifier" />
            <input type="submit" value="Login" />
          </div>
          <p class="helptext">Например, ваш аккаунт в <a href="https://www.myopenid.com/" title="My OpenId">myopenid</a></p>
        </form>
        {% endif %}
      {% endif %}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

