{% extends base_template %}

{% block page_title %}{{ block.super }} / Вход{% endblock %}

{% block content %}
{% if login_fail %}
<div class="row">
    <div class="span12 last">
	<div class="error">Ошибка!</div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="span6 last">
	<h4>Войдите с помощью социальной сети</h4>
	<div class="content social social-b">
	{% for name in social_auth.backends.oauth %}
    	    <a class="{{ name }}" rel="nofollow" href="{% url socialauth_begin name %}"></a>
        {% endfor %}
        {% for name in social_auth.backends.oauth2 %}
    	    <a class="{{ name }}" rel="nofollow" href="{% url socialauth_begin name %}"></a>
        {% endfor %}
	    {% for name in social_auth.backends.openid %}
	    {% if name == "livejournal" %}
	    <script>window.modal_bootstrap=function(){$('#livejournal-login-modal').modal({backdrop:true,keyboard:true});}</script>
	    <a class="{{ name }}" data-controls-modal="livejournal-login-modal" rel="nofollow" href="#"></a>
	    <form action="{% url socialauth_begin "livejournal" %}" method="post" id="livejournal-login-modal" class="hide fade modal">
		<div class="modal-header"><h3>Войти с помощью учетной записи Livejournal</h3></div>
		<div class="modal-body">
	    	    {% csrf_token %}
	    	    <div>
	    		<input id="openid_lj_user" type="text" value="" placeholder="Пользователь ЖЖ" name="openid_lj_user" />
			<input type="submit" value="Войти" class="btn primary" />
		    </div>
		</div>
    	    </form>
    	    {% endif %}
    	{% endfor %}
    	</div>
    </div>
    <div class="span6 last">
	<h4>...или с помощью учётной записи на сайте</h4>
	<div class="content">
    	    <form method="post" action="{% url login %}">
    		<div class="clearfix">
    		    <label for="login_username">Логин:</label>
    		    <div class="input">
            		<input class="medium" id="login_username" type="text" name="username" /></td>
        	    </div>
        	</div>
            	<div class="clearfix">
            	    <label for="login_passwrod">Пароль</label>
            	    <div class="input">
            		<input class="medium" id="login_password" type="password" name="password" />
            	    </div>
            	</div>
            	<div class="actions">
            	    {% csrf_token %}
            	    <input type="submit" class="btn primary" value="Войти" />
            	    <a href="{% url accounts.register %}" class="button">Регистрация</a>
            	</div>
    	    </form>
	</div>
    </div>
</div>
{% endblock %}