{% extends base_template %}

{% block page_title %}{{ block.super }} / {% if ruser.is_staff %}Автор {{ ruser.get_full_name }}{% else %}Пользователь {{ ruser.username }}{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <article class="span8 rubric">
	<h3>{% if ruser.is_staff %}Автор {{ ruser.get_full_name }}{% else %}Пользователь {{ ruser.username }}{% endif %}</h3>
	<div class="content">
	    <ul class="unstyled free">
	    {% for item in object_list %}
	    {% include 'corecontent/list.item.announce.html' %}
	    {% endfor %}
	    </ul>
	</div>
        {% if is_paginated %}
	<footer class="pagination">
	    <ul>
		<li class="prev {% if not page_obj.has_previous %}disabled{% endif %}"><a rel="page" href="?page={{ page_obj.previous_page_number }}">&larr; Позже</a></li>
    		{% for p in page_obj.page_range %}
    		<li{% if page_obj.number == p %} class="active"{% endif %}">{% if p %}<a rel="page" href="?page={{ p }}">{{ p }}</a>{% else %}<a>...</a>{% endif %}</li>
    		{% endfor %}
    		<li class="next {% if not page_obj.has_next %}disabled{% endif %}"><a rel="page" href="?page={{ page_obj.next_page_number }}">Раньше &rarr;</a></li>
    	    </ul>
        </footer>
        {% endif %}
    </article>
    <div class="span4 last">{% include 'partials/rightside.html' %}</div>
</div>
{% endblock %}