<h3>Рейтинг слухов</h3>
<p><strong>${ current_poll.title }</strong></p>
% if current_poll.pk in request.session.get('poll', []):
<ol class="unstyled">
    % for choice in current_poll.c_choices:
    <li>{{ choice.title }}
      <div style="width: {{ choice.c_percent|negate|add:100 }}px; height: 15px; text-align: center; border-left: {{ choice.c_percent|default:1|floatformat:"0" }}px solid #E6F0ED;">{{ choice.c_percent|floatformat:"0" }}%</div>
    </li>
    % endfor
</ol>
% else:
<form action="/poll/${ current_poll.slug }/vote/" method="post">
    <fieldset>
	<div><input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" /></div>
	<div class="inputs-list">
	    % for choice in current_poll.c_choices:
	    <label for="poll-${ current_poll.id }-${ choice.pk }">
	        <input type="radio" id="poll-${ current_poll.id }-${ choice.pk }" name="choice" value="${ choice.pk }">
	        <span>${ choice.title }</span>
	    </label>
	    % endfor
	</div>
	<div class="actions"><input type="submit" class="btn small primary" value="Ответить" /></div>
    </fieldset>
  </form>
% endif