{% extends "minipoll/base.html" %}
{% load i18n minipoll_tags %}
{% load comments %}

{% block page_title %}{{ block.super }} / {{ object.title }}{% endblock %}

{% block content %}
<section class="container container_16 clearfix">
    <article class="grid_8 alpha block">
	<header><h1>{{ object.title }}</h1></header>
	<div class="content">
	    {{ object.description|safe }}
	    {% if user_has_vote %}
	    <p>{% trans "You have already vote to this poll." %}</p>
	    {% display_poll_result object %}
	    {% else %}
	    {% display_poll_form object %}
	    <p>{{ object.votes }} {% trans "votes" %}.
    		<a href="{% url minipoll_poll_result object.slug %}">{% trans "View the results." %}</a>
	    </p>
	    {% endif %}
	</div>
	<div id="comments_block">{% get_comments_for object %}</div>
    </article>
    <article class="grid_4">{% include 'partials/centerside.html' %}</article>
    <article class="grid_4 omega">{% include 'partials/rightside.html' %}</article>
</section>
{% endblock %}
