{% extends "minipoll/base.html" %}
{% load minipoll_tags %}
{% load pytils_numeral %}
{% load comments %}

{% block page_title %}{{ block.super }} / {{ poll.title }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Главная</a><span class="divider">/</span></li>
    <li><a href="{% url minipoll_poll_list %}">Слухи</a><span class="divider">/</span></li>
    <li>{{ poll.title }}</li>
</ul>

<div class="row">
    <article class="span8">
	<h3>{{ poll.title }}</h3>
	<div class="content">
	    {{ poll.description|safe }}
	    {% if user_has_vote %}
	    <p>Вы уже принимали участие в этом опросе.</p>
	    {% display_poll_result poll %}
	    {% else %}
	    {% display_poll_form poll %}
	    <p>{{ poll.total_votes|get_plural:"голос,голоса,голосов" }}. <a href="{% url minipoll_poll_result poll.slug %}">Посмотреть результаты</a>.</p>
	    {% endif %}
	</div>
	<footer><div id="comments_block">{% get_comments_for poll %}</div></footer>
    </article>
    <article class="span4 last">{% include 'partials/rightside.html' %}</article>
</div>
{% endblock %}
