{% extends "minipoll/base.html" %}
{% load pytils_numeral %}

{% block page_title %}{{ block.super }} / Рейтинг слухов{% endblock %}

{% block content %}
<section class="container container_16 clearfix">
    <article class="grid_12 alpha block">
	<header><h1>Рейтинг слухов</h1></header>
	<div class="content">
	    <ul>
	    {% for object in object_list %}
		<li>
		    <div class="poll">
			<div class="poll_detail">{{ object.publication_date|date:"d N Y" }}</div>
			<h3 class="poll_title">
			    <a href="{{ object.get_absolute_url }}" alt="{{ object.title }}">{{ object.title }}</a>
			    {{ object.description|safe }} ({{ object.votes|get_plural:"голос,голоса,голосов" }})
			</h3>
		    </div>
		</li>
	    {% endfor %}
	    </ul>
	</div>
    </article>
    <article class="grid_4 omega">
	{% include 'partials/rightside.html' %}
    </aritcle>
</section>
{% endblock %}
