{% extends "minipoll/base.html" %}
{% load pytils_numeral %}

{% block page_title %}{{ block.super }} / Cлухи{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 rubric">
	<h3>Рейтинг слухов</h3></header>
	<div class="content">
	    <ul class="unstyled free">
	        {% for object in object_list %}
		<li>
		    <h5>
			<a href="{{ object.get_absolute_url }}" alt="{{ object.title }}">{{ object.title }}</a>
			<small>{{ object.publication_date|date:"d N Y" }}, {{ object.votes|get_plural:"голос,голоса,голосов" }}</small>
		    </h5>
		</li>
  	        {% endfor %}
	    </ul>
	</div>
    </div>
    <div class="span4 last">{% include 'partials/rightside.html' %}</div>
</div>
{% endblock %}
