*.py[co]
*.pdf
*.log
*.aux
*.mo
*.log
*.pot
*.egg
*.egg-info
*.gz
zavtra/static
static
dist
build
eggs
parts
bin
var
sdist
media
env
develop-eggs
.installed.cfg
pip-log.txt
export.xml
.coverage
.tox
.mr.developer.cfg
local_settings.py
*.sublime-project
*.sublime-workspace
