django>=1.5
git+git://github.com/django-mptt/django-mptt.git#egg=django-mptt
djorm-ext-core
djorm-ext-expressions
djorm-ext-pgarray
djorm-ext-pgfulltext
django-grappelli
django-imagekit
django-redis-cache
django-autoslug
django-jinja
psycopg2
South==0.7.6
django-model-utils
django-tinymce
django-filebrowser
Pillow
pytils
django-haystack
pyelasticsearch