.markItUp .markItUpButton1 a {
	background-image:url(/static/js/markitup/sets/markdown/images/bold.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(/static/js/markitup/sets/markdown/images/italic.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(/static/js/markitup/sets/markdown/images/link.png); 
}