<%inherit file="../base.html" />
<%block name="main_column">
% if new:
<p>Здесь вы видите те номера газеты, которые появились после перехода на новую версию сайта. Для просмотра старого архива, передйите по <a href="http://zavtra.ru/cgi//veil//data/zavtra/">этой ссылке</a>.</p>
% endif
<div class="content archive">
    % for year, months in dates:
    <h5>${ year }</h5>
    <table class="table table-striped archive-table">
    % for month, days in months:
	<tr>
	    <th>${ month }</th>
	    <% klen = len(days) %>\
	    % for num, k in enumerate(days):
	    <% localnum, globalnum = k %>\
	    <td\
	    % if klen == num-1 and num < span:
	    colspan="${ span-num+1 }"\
	    % endif
	    ><a href="/content/archive/${ globalnum[1].year }/${ globalnum[1].month }/${ globalnum[1].day }/">${ localnum } (${ globalnum[0] })</a></td>
	    % endfor
	</tr>
    % endfor
    </table>
    % endfor
</div>
</%block>