{% extends base_template %}

{% load utils %}

{% block content %}
<div class="row">
    <article class="span8 rubric">
	<h3>Архив</h3>
	{% if new %}
	<p>Здесь вы видите те номера газеты, которые появились после перехода на новую версию сайта. Для просмотра старого архива, передйите по <a href="http://zavtra.ru/cgi//veil//data/zavtra/">этой ссылке</a>.</p>
	{% endif %}
	<div class="content archive">
	    {% for year, months in dates %}
	    <h5>{{ year }}</h5>
	    <table class="zebra-striped">
	    {% for month, days in months %}
		<tr>
		    <th>{{ month }}</th>
		    {% for localnum, globalnum in days %}
		    <td{% if forloop.last and forloop.counter < span %} colspan="{{ span|sub:forloop.counter|add:1 }}"{% endif %}><a href="{% url corecontent.views.view_issue year=globalnum.1.year month=globalnum.1.month day=globalnum.1.day %}">{{ localnum }} ({{ globalnum.0 }})</a></td>
		    {% endfor %}
		</tr>
	    {% endfor %}
	    </table>
	    {% endfor %}
	</div>
    </article>
    <article class="span4 last">{% include 'partials/rightside.html' %}</article>
</div>
{% endblock %}