{% extends base_template %}

{% block page_title %}{{ block.super }} / {{ title|safe }}{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 rubric">
    	<h3>Каждый день</h3>
    	<div class="content">
	    <ul class="unstyled">
		{% for item in items %}
		<li><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></li>
		{% endfor %}
	    </ul>
	</div>
    </div>
    <div class="span4 last">
	{% include 'partials/rightside.html' %}
    </div>
</div>
{% endblock %}