<%inherit file="../base.html" />
<%block name="main_column">
<h2>Выпуск от ${ self.ru_date(issue, inflected=True, format=u'%d %B %Y') }</h2>
<% num, nlen = 0, len(newsletter) %>\
<div class="container-fluid rubrics equalized">
% while nlen > num:
    % if len(newsletter[num]['items']) == 1 and nlen > num+1 and len(newsletter[num+1]['items']) == 1:
    <div class="row-fluid">
	<div class="span6"><div class="bordered column">${ self.rubric_announce(newsletter[num], False) }</div></div>
	<div class="span6"><div class="bordered column">${ self.rubric_announce(newsletter[num+1], False) }</div></div>
    </div>
    <% num += 2 %>\
    % else:
    <div class="bordered">${ self.rubric_announce(newsletter[num], True) }</div>
    <% num += 1 %>\
    % endif
% endwhile
</div>
</%block>