{% extends base_template %}

{% load pytils_dt %}

{% block content %}
<div class="row">
    <article class="span8 rubric">
	<h3>Выпуск от {{ issue|ru_strftime:"%d %B %Y" }}</h3>
	<div class="content">
	{% for item in items %}
	<ul class="unstyled free">
	{% ifchanged item.rubric %}<h4>{{ item.rubric.title }}</h4>{% endifchanged %}
	{% include 'corecontent/list.item.announce.html' %}
	{% endfor %}
	</ul>
	</div>
    </article>
    <article class="span4 last">{% include 'partials/rightside.html' %}</article>
</section>
{% endblock %}