{% extends base_template %}

{% load pytils_dt %}
{% load comments %}

{% block page_title %}{{ block.super }} / {% if item.rubric %}{{ item.rubric.title|safe }}{% else %}Блоги{% endif %} / {{ item.title|safe }}{% endblock %}
{% block javascript_library %}{{ block.super }}<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>{% endblock %}

{% block content %}
<section class="container container_16 clearfix">
    <h1 class="article">{% if item.rubric %}<a href="{{ item.rubric.get_absolute_url }}">{{ item.rubric.title|safe }}</a>{% else %}Блоги{% endif %}</h1>
    <article class="grid_12 alpha block of-kind-{{ item.kind }}">
        <header>
            <h1>
                <time pubdate="pubdate" datetime="{{ item.pub_date }}">{{ item.pub_date|ru_strftime }}</time>
                {{ item.title|safe }}
                <span class="small">
                {% for author in item.authors_all %}
                <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{author.last_name }}</a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
                </span>
            </h1>
        </header>
            {% if item.kind == 'video' %}
            <div class="text-center">
		{% with video=item.by_kind %}
                <object width="425" height="344">
                <param name="movie" value="http://youtube.com/v/{{ video.get_video_id }}&version=3"</param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowScriptAccess" value="always"></param>
                <param name="wmode" value="transparent"></param>
                <embed src="http://youtube.com/v/{{ video.get_video_id }}&version=3"
                  type="application/x-shockwave-flash"
                  allowfullscreen="true"
                  allowscriptaccess="always"
                  wmode="transparent"
                  width="425" height="344">
                </embed>
                </object>
                {% endwith %}
            </div>
            {% endif %}
            <div class="content">
                {% if item.kind == 'image' %}
                    <div class="text-center"><img src="{{ MEDIA_URL }}{{ item.thumbnail }}" /></div>
                {% endif %}
                {% if item.kind == 'text' or item.kind == '' %}
                    {% if item.content|length > 1500 %}<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div>{% endif %}
                    {{ item.content|safe }}
                {% endif %}
                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div>
            </div>

            <footer>
                {% with tags=item.tags.all %}
                {% if tags|length %}
                <div class="separator"></div>
                <div class="content">
                Теги:
                    {% for tag in tags %}
                    <a rel="tag" href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %},&nbsp;{% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <div id="comments_block">{% get_comments_for item %}</div>
            </footer>
    </article>
    <article class="grid_4 omega">
	{% include 'partials/rightside.html' %}
    </article>
</section>
{% endblock %}

{% block js_extra_head %}
{{ block.super }}
{% endblock %}