{% extends "base.html" %}

{% block content %}
<div class="block">
    <header><h1>{{ featured.title|safe }}</h1></header>
    <div class="content">
    {% for item in items %}{% include 'corecontent/list.item.announce.html' %}{% endfor %}
    </div>
    {% if is_paginated %}
    <div class="buttons">
        {% if page_obj.has_previous %}<a class="button" href="?page={{ page_obj.previous_page_number }}"><span class="icon icon63"></span></a>{% endif %}
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <div class="button"><span class="label">{{ p }}</span></div>
        {% else %}
        <a class="button" href="?page={{ p }}"><span class="label">{{ p }}</span></a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}<a class="button" href="?page={{ page_obj.next_page_number }}"><span class="icon icon64"></span></a>{% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
