{% extends base_template %}

{% block page_title %}{{ block.super }} / {{ title|safe }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Главная</a><span class="divider">/</span></li>
    <li>{{ title|safe }}</li>
</ul>

<div class="row">
    <article class="span8 rubric">
    	<h3>{{ type }} &laquo;{{ title|safe }}&raquo;{% if rss %}<small class="rss">&nbsp;<a href="{{ rss }}">RSS</a></small>{% endif %}</h3>
	<div class="content">
	{% if title.id == 44 %}
	<p>Уважаемые друзья! Представляем вашему вниманию новую рубрику сайта &mdash; ЗАВТРА.LIVE. Эта рубрика является развитием газеты и сайта в новых информационных форматах. В рамках ЗАВТРА.LIVE Александр Андреевич Проханов будет еженедельно отвечать на вопросы посетителей сайта.<br/>
	   Список вопросов будет формироваться в <a href="/content/rubric/voprosyi-prohanovu/">этом разделе</a> голосованием посетителей за отобранные модераторами вопросы. Задать свой вопрос А.А. Проханову можно там же.<br/>
	   В дальнейшем, в рубрике ЗАВТРА.LIVE появятся и иные по формату видеоматериалы, в том числе репортажные.<br/>
	   Спасибо за ваше участие!
	</p>
	{% endif %}
	<ul class="unstyled free">
	{% for item in items %}
	{% include 'corecontent/list.item.announce.html' %}
	{% endfor %}
	</ul>
	<h3>Реклама</h3>
	<div class="bnrok" id="DIV_DA_49096"></div>
        {% if is_paginated %}
	<footer class="pagination">
	    <ul>
		<li class="prev {% if not page_obj.has_previous %}disabled{% endif %}"><a rel="page" href="?page={{ page_obj.previous_page_number }}">&larr; Позже</a></li>
        	{% for p in page_obj.page_range %}
        	<li{% if page_obj.number == p %} class="active"{% endif %}">{% if p %}<a rel="page" href="?page={{ p }}">{{ p }}</a>{% else %}<a>...</a>{% endif %}</li>
        	{% endfor %}
        	<li class="next {% if not page_obj.has_next %}disabled{% endif %}"><a rel="page" href="?page={{ page_obj.next_page_number }}">Раньше &rarr;</a></li>
    	    </ul>
        </footer>
        {% endif %}
    </article>
    <div class="span4 last">{% include 'partials/rightside.html' %}</div>
</div>
{% endblock %}