{% extends base_template %}

{% block content %}
<section class="container container_16 clearfix">
    <div class="alpha grid_12">
        <article class="block">
    	    <header><h1>{{ type }} &laquo;{{ title|safe }}&raquo;</h1></header>
	    <dl class="content">{% for item in items %}{% include 'corecontent/list.item.announce.html' %}{% endfor %}</dl>
            {% if is_paginated %}
	    <footer class="buttons">
                {% if page_obj.has_previous %}<a class="button" href="?page={{ page_obj.previous_page_number }}"><span class="icon icon63"></span></a>{% endif %}
                {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                <div class="button"><span class="label">{{ p }}</span></div>
                {% else %}
                <a class="button" href="?page={{ p }}"><span class="label">{{ p }}</span></a>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}<a class="button" href="?page={{ page_obj.next_page_number }}"><span class="icon icon64"></span></a>{% endif %}
            </footer>
            {% endif %}
        </article>
    </div>
    <div class="grid_4 omega">
	{% include 'partials/rightside.html' %}
	{% if title.id == 2 %}
	<article class="block">
	    <header><h1>Наши друзья</h1></header>
	    <div class="content text-center">
		<div><a title="Интернет-магазин Делократ.Ру - Суди власть по делам!" rel="nofollow" href="http://www.delocrat.ru"><img src="{{ STATIC_URL }}img/banners/delokrat.gif" /></a></div>
		<div><a title="Курсы Сергея Переслегина" rel="nofollow" href="http://www.psychotechnology.ru/cgi-bin/courses.pl?t=15"><img src="{{ STATIC_URL }}img/banners/pereslegin.jpg" /></a></div>
		<div><a title="Политкнига" rel="nofollow" href="http://www.politkniga.ru/index.php?productID=3403"><img src="{{ STATIC_URL }}img/banners/politkniga.gif" /></a></div>
		<div><a title="Им нужна помощь" rel="nofollow" href="http://1mpf.ru"><img src="{{ STATIC_URL }}img/banners/ucanhelp.gif" /></a></div>
	    </div>
	</article>
	{% endif %}
    </div>
</section>
{% endblock %}
