<%inherit file="../base.html" />\
<%def name="output_tags(item)">\
<% tags = item.tags_all() %>
% if len(tags):
<div>
    <i class="icon-tags"></i>
    % for num, tag in enumerate(tags):
    % if num != 0:
    , \
    % endif
    <a rel="tag" class="label label-warning" href="${ tag.get_absolute_url() }">${ tag.name }</a>
    % endfor
</div>
% endif
</%def>\
<%block name="meta_keywords">${ parent.meta_keywords() },${ u','.join(map(lambda w: w.name, item.tags_all())) }</%block>\
<%block name="meta_author">${ parent.meta_author() },${ u','.join(map(lambda w: w.get_full_name(), item.authors_all)) }</%block>\
<%block name="meta_extra">\
${ parent.meta_extra() }\
<meta property="og:title" content="${ item.title }" />\
<meta property="og:locale" content="ru_RU" />\
% if item.kind == 'video':
<meta property="og:type" content="video.other" />\
<meta property="og:url" content="${ item.content|trim }" />\
<meta property="og:video" content="${ item.content|trim }" />\
<meta property="og:image" content="http://img.youtube.com/vi/${ item.get_video_id() }/0.jpg" />\
% else:
<meta property="og:type" content="article" />\
<meta property="og:url" content="http://zavtra.ru${ item.get_absolute_url() }" />\
% endif
% for author in item.authors_all:
<meta property="og:article:author" content="${ author.get_full_name() }" />\
% endfor
</%block>\
<%block name="page_title">${ parent.page_title() } / \
% if item.rubric_id is None:
Блоги\
% else:
${ item.rubric.title }\
%endif
</%block>\
<%block name="javascript_additional">${ parent.javascript_additional() }<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script></%block>\
<%block name="side_column">\
${ self.news_block(news) }
<h3>Реклама</h3>\
<div class="bnrok" id="DIV_DA_49095"></div><% banners_pool.append(49095) %>\
${ parent.side_column() }\
<div class="bnrok yandex-direct"></div>
</%block>\
<%block name="main_column">\
<ul class="breadcrumb">
  <li><a href="/">Главная</a><span class="divider">/</span></li>
  % if item.rubric_id is None:
  <li><a href="/blogs/">Блоги</a><span class="divider">/</span></li>
  % else:
  <li><a href="${ item.rubric.get_absolute_url() }">${ item.rubric.title }</a><span class="divider">/</span></li>
  % endif
  <li class="active">${ item.title }</li>
</ul>
<div>
    <h2>${ item.title }</h2>
    % if item.subtitle:
    <h3>${ item.subtitle }</h3>
    % endif
    % if len(item.authors_all) > 0:
    <h5>
    % for num, author in enumerate(item.authors_all):
        % if num != 0:
        , \
        % endif
        <a href="${ author.get_absolute_url() }">${ author.get_full_name() }</a>
    % endfor
    % endif
    </h5>
    <h6><time pubdate="pubdate" datetime="${ item.pub_date }">${ self.ru_date(item.pub_date) }</time></h6>
    ${ output_tags(item) }
    % if item.kind == 'video':
    <% video_id = item.get_video_id() %>\
    <object width="425" height="344">
	<param name="movie" value="http://youtube.com/v/${ video_id }&version=3"</param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowScriptAccess" value="always"></param>
	<param name="wmode" value="transparent"></param>
	<embed src="http://youtube.com/v/${ video_id }&version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="transparent" width="425" height="344"></embed>
    </object>
    % elif item.kind == 'text' or item.kind == '':
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,blogger,digg,greader,juick,liveinternet"></div>
    <div class="inside-article-text">
	${ item.content }
    </div>
    % endif
    ${ output_tags(item) }
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,blogger,digg,greader,juick,liveinternet"></div>
    <% toread = item.get_to_read() %>\
    % if toread:
    <div class="bordered">
	<h5>Рекомендуем к прочтению:</h5>
	<ul>
	    % for tritem in toread:
	    <li>
	        <% url = tritem.get_absolute_url() %>\
	        <a href="${ url }">${ tritem.title }</a>
	    </li>
	    % endfor
	</ul>
    </div>
    % endif

    <div id="comments">${ self.comments_for(item) }</div>
</div>
<script>window.comments_bootstrap=function(){$('#comments').comments();}</script>\
</%block>\