{% extends base_template %}

{% block javascript %}
{{ block.super }}

{% endblock %}

{% block content %}
<section class="container container_16 clearfix">
    <article class="grid_16 alpha omega block">
	<header><h1>Иллюстрации Геннадия Животова</h1></header>
	<div class="content">
	    <div class="buttons">{% for y in dates %}
		{% if year == y %}<div class="button on active"><span class="label">{{y}}</span></div>{% else %}<a href="?year={{ y }}" class="button"><span class="label">{{y}}</span></a>{% endif %}
	    {% endfor %}</div>
	    <div class="gallery">
	    <ul>{% for item in object_list %}<li>
		<figure {% if not forloop.first %}class="hidden"{% endif %}>
		    <img src="{{ MEDIA_URL }}{{ item.original }}" alt="{{ img.title }}" />
		    <figcaption>{{ item.title }}</figcaption>
		</figure>
	    </li>{% endfor %}</ul>
	    </div>
	</div>
    </article>
</section>
{% endblock %}