{% extends base_template %}

{% block javascript %}
$('#featured').scrollable();
{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 gallery">
	<div id="featured">
	    <div class="items">
	    {% for item in items %}
	    <a title="{{ item.title }}" href="#"><img src="{{ MEDIA_URL }}{{ item.micro }}" alt="{{ item.title }}" /></a>
	    {% endfor %}
	    </div>
	</div>
    </div>
    <div class="span4 last">{% include 'partials/rightside.html' %}</div>
</div>
{% endblock %}