{% load minipoll_tags %}
<article class="block">
  <header><h1>Рейтинг слухов</h1></header>
  <div class="content">{% display_last_poll %}</div>
</article>
<article class="block">
  <header><h1>Присоединяйся</h1></header>
  <div class="content text-center">
    <div class="twy"><a href="https://twitter.com/ZavtraRu" class="twitter-follow-button" data-show-count="true" data-lang="ru" data-size="large">Следуй за @ZavtraRu</a></div>
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fzavtraru&amp;width=220&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=true&amp;header=true&amp;appId=175357809210274" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:427px;" allowTransparency="true"></iframe>
    {% comment %}<div class="fb-like-box" data-href="www.facebook.com/zavtraru" data-width="220" data-show-faces="true" data-stream="false" data-header="true"></div>{% endcomment %}
    <div id="vk_groups"></div>
  </div>
</article>
