{% load minipoll_tags %}
<article class="block">
  <header><h1>Рейтинг слухов</h1></header>
  <div class="content">{% display_last_poll %}</div>
</article>
<article class="block">
  <header><h1>Присоединяйся</h1></header>
  <div class="content text-center">
    <a href="https://twitter.com/ZavtraRu" class="twitter-follow-button" data-show-count="true" data-lang="ru" data-size="large">Следуй за @ZavtraRu</a>
    <br/>
    <div class="fb-like-box" data-href="www.facebook.com/zavtraru" data-width="220" data-show-faces="true" data-stream="false" data-header="true"></div>
    <div id="vk_groups"></div>
  </div>
</article>
