<%inherit file="../base.html" />
<%block name="main_column">
<div>
    <ul class="breadcrumb">
	<li><a href="/">Главная</a><span class="divider">/</span></li>
	<li>Поиск</li>
    </ul>
    <form method="get" action="." class="well form-search bordered">
	<div class="row-fluid">
	    <div class="span6">
		<input class="search-query span8" type="search" name="query"  value="${ query | h }" />
		<input class="btn small primary" type="submit" value="Найти" />
	    </div>
	    <div class="span6">
		<dl class="unstyled">
		    <dt><label>Искать по:</label></dt>
		    <dd>
			<label for="search-rank-phrase" class="radio">
			    <input type="radio" name="mode" value="phrase" id="search-rank-phrase" <% if mode == 'phrase': context.write(' checked="checked"') %>>
			    по наличию целой фразы в статье
			</label>
		    </dd>
		    <dd>
			<label for="search-rank-any" class="radio">
			    <input type="radio" name="mode" value="any" id="search-rank-any" <% if mode == 'any': context.write(' checked="checked"') %>>
			    по наличию любого из слов в статье
			</label>
		    </dd>
		    <dd>
			<label for="search-rank-all" class="radio">
			    <input type="radio" name="mode" value="all" id="search-rank-all" <% if mode == 'all': context.write(' checked="checked"') %>>
			    по наличию всех слов в статье, невзирая на их расположение
			</label>
		    </dd>
		</dl>
	    </div>
	</div>
    </form>
    <div class="content">
	<h3>Результаты:</h3>
	<ul class="unstyled articles">
	% for item in object_list:
	    <% url = item.get_absolute_url() %>\
	    <li class="bordered">
		<h4><a href="${ url }">${ item.title }</a></h4>
		% if item.subtitle:
		<h5><a href="${ url }">${ item.subtitle }</a></h5>
		% endif
		<div data-clickable="${ url }" class="article-text">${ item.description }</div>
		<a href="${ url }#comments"><i class="icon-comment"></i> ${ self.comments_count(item.comments_count) }</a>
	    </li>
	% endfor
	</ul>
	% if is_paginated:
	<div class="pagination">
	    <ul>
	        <li class="prev<% if not page_obj.has_previous(): context.write(' disabled') %>"><a rel="page" href="?query=${ query | h }&amp;mode=${ mode }&amp;page=${ page_obj.previous_page_number() }">&larr; Позже</a></li>
		% for p in page_obj.page_range:
		<li<% if page_obj.number == p: context.write(' class="active"') %>">
		% if p:
		<a rel="page" href="?query=${ query | h }&amp;mode=${ mode }&amp;page=${ p }">${ p }</a>
		% else:
		<a>...</a>
		% endif:
		</li>
		% endfor
		<li class="next<% if not page_obj.has_next(): context.write(' disabled') %>"><a rel="page" href="?query=${ query | h }&amp;mode=${ mode }&amp;page=${ page_obj.next_page_number() }">Раньше &rarr;</a></li>
	    </ul>
	</div>
	% endif
    </div>
</div>
</%block>