{% extends base_template %}

{% load highlight %}

{% block content %}
<div class="row">
    <article class="span8 rubric">
	<h3>Поиск</h3>
	<div class="content">
	    <form method="get" action="." class="clearfix search-form">
    		<div class="buttons">
    		    <input type="search" name="q"  value="{{ query }}" />
    		    <button class="button" type="submit"><span class="icon icon198"></span><span class="label">Найти</span></button>
    		</div>
    	    </form>
	    {% if query %}
	    <div class="content"><ul class="unstyled free">
	    {% for result in page.object_list %}
		<li>
		    <h4><a href="{{ result.link }}">{{ result.title }}</a></h4>
		    <div class="txt">{% highlight result.text with query html_tag "span" class "highlighted" %}</div>
		</li>
	    {% empty %}
		<li>По такому запросу мы ничего не смогли найти. Возможно, вы ошиблись?</li>
	    {% endfor %}
	    </ul></div>
	    {% if page.has_previous or page.has_next %}
	    <footer class="pagination">
	    <ul>
		{% if not page_obj.has_previous %}<li class="prev"><a rel="page" href="?q={{query}}&amp;page={{ page_obj.previous_page_number }}">&larr; Позже</a></li>{% endif %}
    		{% for p in page_obj.page_range %}
    		<li{% if page_obj.number == p %} class="active"{% endif %}">{% if p %}<a rel="page" href="?q={{query}}&amp;page={{ p }}">{{ p }}</a>{% else %}<a>...</a>{% endif %}</li>
    		{% endfor %}
    		{% if not page_obj.has_next %}<li class="next"><a rel="page" href="?q={{query}}&amp;page={{ page_obj.next_page_number }}">Раньше &rarr;</a></li>{% endif %}
    	    </ul>
    	    </footer>
    	    {% endif %}
	</div>
    </article>
    <article class="span4 last">{% include 'partials/rightside.html' %}</article>
</div>
{% endblock %}