<%inherit file="../base.html" />
<%block name="page_title">${ parent.page_title() } / Регистрация</%block>
<%block name="main_column">
<div class="alert alert-block alert-info">
<h3 class="alert-header">Правила общения на сайте газеты &laquo;Завтра&raquo;</h3>
<h5 class="alert-header">К читателю</h5>
<p>История знала колоссальное количество попыток сформулировать простые принципы человеческого общежития, от Моисеевых заповедей до правил пользования Московским метрополитеном. Жизнь показывает, что тот, кто понимает, понимает их и так, а тот, кто не понимает, ничего не выиграет от того, что прочтет новый их извод.<br/>
Однако, редакция сайта рекомендует Читателю нашего сайта избегать в комментариях:</p>
<ul>
    <li>Хулы на на Бога и промысел Божий;</li>
    <li>матерщины всех видов;</li>
    <li>утверждений, оскорбляющий русский народ и русскую культуру;</li>
    <li>пещерный, кухонный и махровый антисемитизм вкупе с другими видами расовой, религиозной, национальной, половой и прочей ненависти;</li>
    <li>призывов к террору, к геноциду, Холокосту и другим видам массового и индивидуального насилия;</li>
    <li>грубых и обидных слов в адрес авторов, администраторов и редактора сайта;</li>
    <li>не относящихся к теме обсуждения реплик, бессмысленных выкриков, рекламных роликов, скабрезных шуток и иного человеческого спама;</li>
</ul>
<p>Читатель, помни о 282-й! При этом, больше позитива и конструктивности! Нужны суждения, а не эмоции!<br/>Россия ждет твою волю!<br/>Включай свои интеллект, память и интуицию!<br/>Включайся, друг!</p>
<p>P.S.Регистрируясь, вы АВТОМАТИЧЕСКИ соглашаетесь с нашими правилами и рекомендациями.</p>
</div>
<h3>Регистрация</h3>
<form action="" method="post">
    <fieldset>
    % if form.non_field_errors():
    <div class="alert alert-block alert-error">${ form.non_field_errors() }</div>
    % endif
    % for field in form:
    <div class="control-group ${ 'error' if field.errors else '' }">
	${ field.label_tag() }
	<div class="controls">
	${ field }
	<span class="help-block">\
	% if field.errors:
	${ field.errors }
	% elif field.help_text:
	${ field.help_text }
	% endif
	</span>
    </div>
    % endfor
    <div><input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" /></div>
    <div class="form-actions">
	<input type="submit" class="btn btn-success" value="Продолжить" />
    </div>
    </fieldset>
</form>
</%block>