{% extends base_template %}

{% block page_title %}{{ block.super }} / Регистрация{% endblock %}

{% block content %}
<section class="container container_16 clearfix">
    <article class="grid_12 alpha block">
	<header><h1>Регистрация</h1></header>
	<form action="" method="post" class="regform" enctype="multipart/form-data">
	    {% if form.non_field_errors %}<div class="error">{{ form.non_field_errors }}</div>{% endif %}
	    {% for field in form %}
	    <div {% if field.errors %}class="error"{% endif %}>
	        {{ field.label_tag }}
	        {{ field.errors }}
	        {{ field }}
	        {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
	    </div>
	    {% endfor %}
	    {% csrf_token %}
	    <div class="buttons">
		<button class="button" type="submit">Продолжить</button>
	    </div>
	</form>
    </article>
    <article class="grid_4 omega">
	{% include 'partials/rightside.html' %}
    </article>
</section>
{% endblock %}