{% extends base_template %}

{% block page_title %}{{ block.super }} / Регистрация{% endblock %}

{% block content %}
<div class="row">
    <article class="span12 last rubric">
	<h3>Правила общения на сайте газеты &laquo;Завтра&raquo;</h3>
	<div class="content">
	    <h5>К читателю</h5>
	    <p>История знала колоссальное количество попыток сформулировать простые принципы человеческого общежития, от Моисеевых заповедей до правил пользования Московским метрополитеном. Жизнь показывает, что тот, кто понимает, понимает их и так, а тот, кто не понимает, ничего не выиграет от того, что прочтет новый их извод.<br/>
	    Однако, редакция сайта рекомендует Читателю нашего сайта избегать в комментариях:</p>
	    <ul>
	        <li>Хулы на на Бога и промысел Божий;</li>
    	        <li>матерщины всех видов;</li>
    	        <li>утверждений, оскорбляющий русский народ и русскую культуру;</li>
    	        <li>пещерный, кухонный и махровый антисемитизм вкупе с другими видами расовой, религиозной, национальной, половой и прочей ненависти;</li>
    	        <li>призывов к террору, к геноциду, Холокосту и другим видам массового и индивидуального насилия;</li>
    	        <li>грубых и обидных слов в адрес авторов, администраторов и редактора сайта;</li>
    		<li>не относящихся к теме обсуждения реплик, бессмысленных выкриков, рекламных роликов, скабрезных шуток и иного человеческого спама;</li>
	    </ul>
	    <p>
	    Читатель, помни о 282-й! При этом, больше позитива и конструктивности! Нужны суждения, а не эмоции!<br/>
	    Россия ждет твою волю!<br/>
	    Включай свои интеллект, память и интуицию!<br/>
	    Включайся, друг!
	    </p>
	    <p>P.S.Регистрируясь, вы АВТОМАТИЧЕСКИ соглашаетесь с нашими правилами и рекомендациями.</p>
	</div>
    </article>
</div>
<div class="row">
    <article class="span12 last rubric">
	<h3>Регистрация</h3>
	<div class="content">
	    <form action="" method="post">
		{% if form.non_field_errors %}<div class="error">{{ form.non_field_errors }}</div>{% endif %}
		{% for field in form %}
		<div class="clearfix{% if field.errors %} error{% endif %}">
	    	    {{ field.label_tag }}
	    	    <div class="input">
			{{ field }}
	    		{% if field.errors %}
	    		<span class="help-block">{{ field.errors }}</span>
	    		{% else %}
	    		    {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
	    		{% endif %}
		    </div>
		</div>
		{% endfor %}
		{% csrf_token %}
		<div class="actions">
		    <input type="submit" class="btn primary" value="Продолжить" />
		</div>
	    </form>
	</div>
    </article>
</div>
{% endblock %}