html body { font-family: Arial; padding-top: 50px; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.smooth {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

#comments { max-width: 52em; }

.comment { padding-left: 40px; margin-bottom: 8px; background: url(/img/border.png) no-repeat 30px 20px; }
    .comment .avatar { float: left; margin-left: -40px; width: 36px; height: 36px; display: block; margin-top: 6px; }
    .comment .avatar a { display: block; }
    .comment .inner { padding: 3px; background-color: #eee; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; }
        .comment .inner .body { padding: 6px 10px; background: white; color: #222; border: 1px solid #ccc; }
    	    .comment .inner .body .avatar { margin: 10px 0 0; }
    	    .comment .inner .body .text { margin: 0; padding: 8px 0 0 0; font-size: 14px; }

    .comment .actions { padding: 0; margin: 4px 0; float: right; border-top: none; }

.comment.avatarless { padding-left: 0; background: none; }

.comment-form form, .comment-form fieldset { margin: 0; }
.comment-form h4 { padding-left: 150px; }
.comment-form textarea { width: 95%; height: 100px; }
.comment-form .actions { background: white; padding: 4px 0 0 150px; border-top: none; float: none; border-top: none; }

.txt { text-align: justify; }
.txt a { color: #444; text-decoration: none; }
.txt img { display: block; margin: 0 auto; }

.socializm { position: fixed; top: 120px; right: 0px; border: 1px solid #222; border-right: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; }
    .socializm ul.unstyled { margin: 0; background: rgba(0,0,0,0.15); }
    .socializm li { padding: 2px; }

.social.social-b a { display: inline-block; }
.social a { width: 32px; height: 32px; display: block; background: url(../img/social/soclager.png) no-repeat; }
.social a.twitter { background-position: -32px 0px; }
.social a.facebook { background-position: 0px 0px; }
.social a.vkontakte { background-position: -64px 0px; }
.social a.google-oauth { background-position: -96px 0px; }
.social a.livejournal { background-position: -128px 0px; }
    

.scrollable .items .third img.real { float: none; width: auto; }

.gazette .pdf { position: relative; top: -4px; }
.bnrok table table { margin-bottom: 0px; }