body { font-family: Arial; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.topbar .brand { padding: 8px 20px 6px; }

.top-illustration { padding: 0; margin: 0; }
    .top-illustration img { width: 100%; }
    .top-illustration figcaption { text-align: right; font-size: 14px; }

.top-quote { line-height: 1.2; font-style: italic; font-family: Verdana; padding-top: 4px; padding-bottom: 4px; }
    .top-quote a { color: #333; }

.specialitaet { margin-bottom: 1em; }
    .specialitaet h3 { line-height: 20px; padding-bottom: 6px; }

.news h5 { font-size: 13px; }
.news h6 { font-size: 11px; }
.news li { margin-bottom: 12px; padding-bottom: 20px; border-bottom: 1px dashed #444; }
.news li:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }

.rubric { }
    .rubric h3, .rubric h4 { border-bottom: 1px solid #CF3A2D; }
	.rubric h3 small, .rubric h4 small { float: right; margin-top: 10px; margin-right: 8px; }
	    .rubric h3 small a, .rubric h4 small a { text-decoration: underline; }
    .rubric h5 { line-height: 20px; margin-top: 6px; }
	.rubric h6 { text-transform: none; line-height: 14px; margin-bottom: 12px; color: #444; }
    .rubric ul.unstyled { margin-bottom: 24px; }

.rubrics { padding: 8px; margin-bottom: 0; }
    .rubrics li { display: inline; padding-right: 10px; margin-right: 5px; border-right: 1px solid white; }
    .rubrics li.last { border-right: none; margin-right: 0; padding-right: 0; }
    .rubrics a { color: white; font-size: 16px; }

.featured { padding: 8px; }
    .featured li { display: inline; padding-right: 10px; margin-right: 8px; border-right: 1px solid #222; }
    .featured li.first { border-right: none; padding-right: 2px; margin-right: 2px; }
    .featured li.last { border-right: none; margin-right: 0; padding-right: 0; }
    .featured a { font-size: 14px; }

.article-text p { font-size: 16px; line-height: 20px; margin-bottom: 20px; }

.comment { padding-left: 40px; margin-bottom: 8px; }
    .comment .avatar { float: left; margin-left: -40px; width: 32px; height: 32px; display: block; margin-top: 6px; }
    .comment .inner { padding: 3px; background: #eee; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; }
        .comment .inner .body { padding: 6px 10px; background: white; color: #222; border: 1px solid #ccc; }
    	    .comment .inner .body .avatar { margin: 10px 0 0; }
    	    .comment .inner .body .text { margin: 0; padding: 8px 0 0 0; }

    .comment .actions { padding: 0; margin: 4px 0; float: right; }

.comment-form form, .comment-form fieldset { margin: 0; }
.comment-form h4 { padding-left: 150px; }
.comment-form textarea { width: 400px; height: 80px; }
.comment-form .actions { background: white; padding: 4px 0 0 150px; border-top: none; float: none; border-top: none; }

.txt { text-align: justify; }
.txt a { color: #444; text-decoratin: none; }
.txt img { display: block; margin: 0 auto; }

.text-center { text-align: center; }
.socializm { padding: 0.5em; }
    .socializm .twy { width: 270px; overflow: hidden; }
    .socializm .fb-like-box { width: 270px; height: 600px; }
    .socializm #vk_groups { width: 270px; height:117px; }
