<%inherit file="user.html" />\
<%block name="tabs">${ self.menu(2) }</%block>\
<%block name="tab_content">\
<ul class="unstyled">\
% for item in object_list:
<li>\
    <% url = item.get_absolute_url() %>\
    <h4><a href="${ url }">${ item.title }</a></h4>\
    <div class="article-text" data-clickable="${ url }">${ item.description }</div>\
</li>\
% endfor
</ul>
% if is_paginated:
<div class="pagination">\
<ul>\
<li class="prev<% if not page_obj.has_previous(): context.write(' disabled') %>"><a rel="page" href="?page=${ page_obj.previous_page_number() }">&larr; Позже</a></li>\
% for p in page_obj.page_range:
<li<% if page_obj.number == p: context.write(' class="active"') %>>\
% if p:
<a rel="page" href="?page=${ p }">${ p }</a>\
% else:
<a>...</a>\
% endif
</li>\
% endfor
<li class="next<% if not page_obj.has_next(): context.write(' disabled') %>"><a rel="page" href="?page=${ page_obj.next_page_number() }">Раньше &rarr;</a></li>\
</ul>\
</div>
% endif
</%block>\