<%inherit file="../base.html" />\
<%def name="menu(active_tab)">\
<ul class="tabs">\
    % for num, tab in enumerate([ (u'Информация', '', False), (u'Статьи', 'articles/', True), (u'Комментарии', 'comments/', False) ]):
    % if (tab[2] and ruser.is_staff) or not tab[2]:
    <li<% if num == active_tab: context.write(' class="active"') %>><a href="/accounts/user/${ ruser.username }/${ tab[1] }">${ tab[0] }</a></li>\
    % endif
    % endfor
</ul>\
</%def>\
<%block name="page_title">${ parent.page_title() } / \
% if ruser.is_staff:
Автор ${ ruser.get_full_name() }\
% else:
Пользователь ${ ruser.username }\
% endif
</%block>\
<%block name="main_column">\
<h3>\
% if ruser.is_staff:
Автор ${ ruser.get_full_name() }\
% else:
Пользователь ${ ruser.username }\
% endif
</h3>\
<%block name="tabs">${ menu(0) }</%block>\
<div class="tab-content"><%block name="tab_content">\
    <p>Зарегистрирован на сайте ${ self.ru_date(ruser.date_joined,inflected=True,format=u"%d %B %Y") }.</p>\
    <%
    try:
	profile = ruser.profile
    except:
	profile = None
    %>\
    % if profile is not None:
    <p>Дата рождения: ${ profile.dob }</p>\
    <p>Пол: ${ profile.get_gender_display() }.</p>\
    % if profile.location is not None:
    <p>Страна, город: ${ profile.location | h }.</p>\
    % endif
    % if profile.occupation:
    <p>Род занятий: ${ profile.occupation | h }.</p>\
    % endif
    % endif
</%block></div>\
</%block>\