{% load i18n %}
<div id="poll_form_{{ poll.slug }}">
  <form action="{% url minipoll_poll_vote poll.slug %}" method="post" id="poll">
    <table class="choices">
      {% for choice in poll.choice_set.all %}
      <tr>
        <td><input type="radio" name="choice" value="{{ choice.pk }}" {% if not choice.is_active%}disabled="disabled"{% endif %} /></td>
        <td>{% if choice.is_active %}{{ choice.title }}{% else %}<s>{{ choice.title }}</s>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  <input type="submit" value="{% trans "Vote" %}" />
  </form>
</div>
