{% load i18n %}
<div id="poll_form_{{ poll.slug }}">
  <form action="{% url minipoll_poll_vote poll.slug %}" method="post" id="poll">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
    <div class="clearfix">
	<input type="radio" name="choice" value="{{ choice.pk }}" {% if not choice.is_active%}disabled="disabled"{% endif %} />
	{% if choice.is_active %}{{ choice.title }}{% else %}<s>{{ choice.title }}</s>{% endif %}
    </div>
    {% endfor %}
    <div><input type="submit" class="btn primary" value="{% trans "Vote" %}" /></div>
  </form>
</div>
