{% load pytils_dt %}
{% load utils %}
<li id="comment-{{ comment.id }}" style="padding-left: {{ comment.depth|mul:"1.75"|floatformat:"2"|fix_commas }}em;">
    {% if comment.enabled %}
    <a class="gravatar" href="{{ comment.author.get_absolute_url }}"><img src="{{ comment.author.avatar }}" width="48" /></a>
    <a href="{{ comment.author.get_absolute_url }}"">{{ comment.get_author }}</a>
    <time pubdate="pubdate" datetime="{{ comment.created_at }}">{{ comment.created_at|distance_of_time }}</time>
    <div class="clearfix msg">{{ comment.comment|linebreaksbr }}</div>
    {% if request.user.is_authenticated %}
    <div class="buttons">
	<a class="button reply" href="#">ответить</a>
	{% if perms.comments.moderate %}
	<a class="button red delete" href="#"><span class="icon icon56"></span><span class="label">скрыть</span></a>
	{% endif %}
    </div>
    {% endif %}
    {% else %}
    <em>комментарий скрыт модератором</em>
    {% endif %}
</li>
