{% load pytils_dt %}{% load utils %}
<li id="comment-{{ comment.id }}" {% if not stream %}style="padding-left: {{ comment.depth }}em;"{% endif %}>
    <article class="comment">
	<span class="avatar"><img src="{{ comment.author.avatar }}" width="32" /></span>
	<div class="inner">
	    <div class="body clearfix">
		<div class="author"><a href="{{ comment.author.get_absolute_url }}">{{ comment.get_author }}</a>, <time datetime="{{ comment.created_at }}">{{ comment.created_at|distance_of_time }}<time>:</div>
		<div class="text">{% if comment.enabled %}{{ comment.comment }}{% else %}комментарий скрыт{% endif %}</div>
		<div class="actions">
    		    <div class="btn small primary">Ответить</div>
    		    {% if request.user.is_authenticated and request.user.is_staff and perms.comments.moderate %}
    		    <div class="btn small danger" data-controls-modal="hide-modal" data-backdrop="static">Скрыть</div>
    		    {% endif %}
		</div>
	    </div>
	</div>
    </article>
</li>
