{% load pytils_dt %}
<div class="comments">
    <!--<header><h1>Комментарии</h1></header>-->
    <div class="content">
        <dl>
            {% for comment in comments %}
            <dt>{{ comment.author }}, {{ comment.created_at|distance_of_time }}</dt>
            <dd>{{ comment.comment }}</dd>
            {% endfor %}
        </dl>
        <form method="post" action="{% url comments.add %}">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="buttons">
                <button type="submit" class="button"><span class="label">Отправить</span></button>
            </p>
        </form>
    </div>
</div>
