<div class="comments">
    <h3>Комментарии</h3>
    <div class="content">
        <ul id="comments" class="unstyled">
	    {% for comment in comments %}
            {% include 'comments/item.html' %}
            {% endfor %}
        </ul>
        {% if request.user.is_authenticated %}
        <article class="comment-form comment">
    	    <div class="alert-message error hide">Похоже, вы что-то неправильно заполнили. Ниже вы найдёте дополнительную информацию.</div>
    	    <span class="avatar"><img src="{{ request.user.avatar }}" width="32" /></span>
    	    <form class="inner" method="post" action="{% url comments.add %}">
    		<fieldset class="body">
    		    <h4>Прокомментировать</h4>
    		    {% csrf_token %}
    		    {% for field in form %}
    		    {% if field.is_hidden %}
    		    <div>{{ field }}</div>
		    {% else %}
		    <div class="clearfix">
    			{{ field.label_tag }}
    			<div class="input">
    			    {{ field }}
    			    {% if field.help_text %}<span class="help-block">{{ field.help_text|safe }}</span>{% endif %}
    			</div>
    		    </div>
    		    {% endif %}
    		    {% endfor %}
    		    <div class="actions">
    			<input type="submit" class="btn primary"  value="Отправить" />
    		    </div>
    		</fieldset>
    	    </form>
        </article>
        {% else %}
	<div class="comment"><div class="alert-message info">
	    <p>Чтобы иметь возможность оставлять комментарии, вам нужно <a rel="inline" href="{% url login %}">войти в свою учетную запись (на сайте существует возможность зайти под учетной записи Twitter, Facebook и Живого Журнала)</a>  или <a href="{% url accounts.register %}">зарегистрировать её</a>, если у вас таковой еще нет.</p>
	</div></div>
        {% endif %}
    </div>
</div>
<script>window.comments_bootstrap=function(){$('#comments').comments();}</script>