.main_article_container {
  position: relative;
}

.bloat {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#social {
  position: fixed;
  top: 100px;
  width: 40px;
}

#social span {
  
}

#main_events_box #main_event_selection_bg {
  top: 14.3em;
}

#events {
  font-size: 15px;
}

#events a:hover {
  border: none;
}

#events.carousel {
  margin: 0;
}

#events .item {
  height: 18.5em;
}

#events .item a {
  display: block;
  padding: 0;
}

#events .item.active a {
  background-color: #444 !important;
}

#events .item h5 {
  padding: .25em .75em;
  background-color: #444;
  height: 5.25em;
}

#events .carousel-indicators {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12.3em;
  left: 1em;
  z-index: 10;
}

#events .carousel-indicators li {
  /*
  width: 1.15em;
  height: 1em;
  */
  width: .75em;
  height: .75em;
  margin-right: 0.3em;
  float: left;
  display: block;
  border-radius: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #666;
  background: #666;
  /*background: url('/static/img/gray_dot.png') no-repeat center center;*/
  cursor: pointer;
}

@media (max-width: 1199px) and (min-width: 1025px) {
  #events {
    font-size: 14px;
  }
  #events .carousel-indicators li {
    margin-right: 0.2em;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  #events {
    font-size: 11px;
  }
  #events .carousel-indicators {
    top: 12.6em;
  }
  #events .carousel-indicators li {
    font-size: 11px;
    margin-right: 0.2em;
  }
  #events a.carousel-control {
    top: 12.5em;
  }
}

@media (max-width: 767px) {
  #main_events_box {
    display: none;
  }
}

#events .carousel-indicators li.active {
  background: white;
  border: 1px solid white;
  /*background: url('/static/img/white_dot.png') no-repeat center center;*/
}

#events .carousel-control {
  font-size: 15px;
  margin: 0;
  display: block;
  position: absolute;
  top: 12.3em;
  z-index: 10;
  width: .5em;
  height: 1em;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  opacity: 1;
  filter: none;
  background: transparent;
}

#events .carousel-control.left {
  left: 0;
  background: url('/static/img/black_arrow_left.png') no-repeat;
}

#events .carousel-control.right {
  right: 0;
  background: url('/static/img/black_arrow_right.png') no-repeat;
}

.control-group .controls {
  padding-bottom: .5em;
}

.control-group input {
  border: 1px solid #BBB;
}

.trans-button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0 0 4px 0;
  height: 29px;
}

#main_video_dentv_link a {
  display: block;
}

.main_box_header {
  height: 20px
}