.main_article_container {
  position: relative;
}

.bloat {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#social {
  position: fixed;
  top: 100px;
  width: 40px;
}

#social span {
  
}