.latest_news .item {
  margin: 1.5em .75em 0em .75em;
}

.cycle {
  z-index: 1;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}
.cycle .cycle-inner {
  z-index: 2;
  height: 281px;
  width: 100%;
  overflow: hidden;
}
.cycle .item {
  z-index: 3;
  position: relative;
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.cycle .item h5 {
  margin-top: 30px;
  height: 2.85em;
  padding: .25em .75em;
  background-color: #444;
}
.cycle .item.active {
  left: 0;
  top: 0;
  z-index: 4;
}
.cycle .item.active,
.cycle .item.next,
.cycle .item.prev {
  display: block;
}
.cycle .item a {
  display: block;
}
.cycle .item a:hover {
  border: 0;
}
.cycle .item.active a {
  padding: 0;
  background-color: transparent !important;
}
.cycle-nav {
  position: absolute;
  top: 205px;
  list-style-type: none;
  margin: 0;
  z-index: 5;
}
.cycle-nav > li {
  display: inline;
}

.cycle.xfade .cycle-inner {
  height: 100%;
}
.cycle.xfade .item {
  -webkit-transition: 0.5s ease-in opacity;
  -moz-transition: 0.5s ease-in opacity;
  -o-transition: 0.5s ease-in opacity;
  transition: 0.5s ease-in opacity;
  position: absolute;
  width: 100%;
  opacity: 0;
}
.cycle.xfade .item.go {
  opacity: 1;
}
.cycle.xfade .item.active {
  opacity: 1;
}
.cycle.xfade .item.active.go {
  opacity: 0;
}
.cycle.slide.xfade .item {
  -webkit-transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
  -moz-transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
  -o-transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
  transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
}
.cycle.slide .item {
  -webkit-transition: 0.5s ease-in-out left;
  -moz-transition: 0.5s ease-in-out left;
  -o-transition: 0.5s ease-in-out left;
  transition: 0.5s ease-in-out left;
}
.cycle.slide .item.next,
.cycle.slide .item.prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cycle.slide .item.next {
  left: 100%;
}
.cycle.slide .item.prev {
  left: -100%;
}
.cycle.slide .item.active.prev,
.cycle.slide .item.active.next {
  position: relative;
  left: 0;
}
.cycle.slide .item.go {
  left: 0;
}
.cycle.slide .item.go.active {
  left: -100%;
}
.cycle.slide .item.go.active.prev {
  left: 100%;
}
.cycle.slide.right .item.next {
  left: -100%;
}
.cycle.slide.right .item.prev {
  left: 100%;
}
.cycle.slide.right .item.go {
  left: 0;
}
.cycle.slide.right .item.go.active {
  left: 100%;
}
.cycle.slide.right .item.go.active.prev {
  left: -100%;
}
.cycle.slide.down .cycle-inner {
  height: 100%;
}
.cycle.slide.down .item {
  -webkit-transition: 0.5s ease-in-out top;
  -moz-transition: 0.5s ease-in-out top;
  -o-transition: 0.5s ease-in-out top;
  transition: 0.5s ease-in-out top;
}
.cycle.slide.down .item.next,
.cycle.slide.down .item.prev {
  left: 0;
}
.cycle.slide.down .item.next {
  top: -100%;
}
.cycle.slide.down .item.prev {
  top: 100%;
}
.cycle.slide.down .item.go {
  top: 0;
}
.cycle.slide.down .item.go.active {
  top: 100%;
  left: 0;
}
.cycle.slide.down .item.go.active.prev {
  top: -100%;
}
.cycle.slide.down.xfade .item {
  -webkit-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
  -moz-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
  -o-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
  transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
}
.cycle.slide.up .cycle-inner {
  height: 100%;
}
.cycle.slide.up .item {
  -webkit-transition: 0.5s ease-in-out top;
  -moz-transition: 0.5s ease-in-out top;
  -o-transition: 0.5s ease-in-out top;
  transition: 0.5s ease-in-out top;
}
.cycle.slide.up .item.next,
.cycle.slide.up .item.prev {
  left: 0;
}
.cycle.slide.up .item.next {
  top: 100%;
}
.cycle.slide.up .item.prev {
  top: -100%;
}
.cycle.slide.up .item.go {
  top: 0;
}
.cycle.slide.up .item.go.active {
  top: -100%;
  left: 0;
}
.cycle.slide.up .item.go.active.prev {
  top: 100%;
}
.cycle.slide.up.xfade .item {
  -webkit-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
  -moz-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
  -o-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
  transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
}