body {
	background-color: #DFDFDF;
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
}

.container, .container12 {
	clear: both; /*Bootstrap Fix for FireFox*/
}


/* HEADER */
#headerbase {
	width: 100%;
	min-height: 4em;
	background-color: #4A0909;
}

#header {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 69em;
	height: 4em;
	margin: auto;
}

#main_header_links {
	padding-top: .5em;
	padding-left: 1em;
	padding-bottom: .75em;
	font-size: 1em;
	font-weight: bold;
	height: 1em;
}

#main_zavtra_logo {
	max-height: 2.5em;
}

.main_header_link {
	color: #FFF;
	font-size: .8em;
	font-family: 'Open Sans', sans-serif;
	padding-right: 1em;
}

.main_header_link:hover {
	color: #EEE;
}

#main_header_login {
	padding: .5em 0em;
}

.main_header_login_text {
	color: #FFF;
	text-rendering: optimizelegibility;
	font-family: 'Open Sans', san-serif;
	font-size: .8em;
	font-weight: 700;
}

.main_header_login_link {
	color: #DDD;
	font-size: .8em;
	font-family: 'Open Sans', sans-serif;
	padding: .25em;
	text-decoration: underline;
	font-weight: 400;
}

.main_header_login_link:hover {
	color: #FFF;
}

#main_header_search {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 2.25em;
}

#main_search_image {
	line-height: 2.25em;
	position: absolute;
	right: 0em;
	padding-right: 0.5em;
}

#main_search_image a {
	vertical-align: middle;
}

#main_search_form {
	position: absolute;
	right: 0em;
	height: 2.25em;
	line-height: 2.25em;
	padding: 0em 2em 0em 0em;
}

#main_header_search input {
	width: 10em;
	color: white;
	border: 2px solid #6A0000;
	background-color: #333;
	cursor: pointer;
	display: inline;
	vertical-align: middle;
	border-radius: 3px;
}

#main_header_search input:focus {
	background-color: #222;
	border: 1px solid #6A0000;
	width: 12em;
	cursor: text;
}

#main_header_social_networks {
	margin: .5em 1em;
}

#main_navigation_line {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 2.5em;
	width: 100%;
	background-color: #444;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
}

#navigation_items {
	line-height: 2.5em;
}

.nav_item {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.05em;
	font-weight: 900;
	color: white;
	letter-spacing: .1em;
	margin: 0em .5em 0em .75em;
	height: 2.33em;
	padding: 0em .5em;
	display: inline-block;
	line-height: 2.25em;
	text-transform: uppercase;
}

.nav_item_selected {
	background-color: #656565;
	border-bottom: 1px solid #444;
	border-top: 1px solid #777;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.nav_item_selected:hover {
	color: #FFF !important;
	text-decoration: none;
}

.nav_item:hover {
	color: #DDD;
	text-decoration: none;
}

/* PAGE */

#page {
	margin: auto;
	background-color: white;
	width: 1020px;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
	padding-bottom: 2em;
}

	/* Newspaper Selection */
.newspaper_selection_item {
	margin: 1em;
	word-wrap: break-word;
}

.newspaper_selection_item_img {
	-webkit-box-shadow: 0px 1px 3px 8px #ddd;
	-moz-box-shadow: 0px 1px 3px 8px #ddd;
	box-shadow: 0px 1px 5px 2px #ddd;
	opacity: .9;
	height: 7em;
	width: 10em;
}

.newspaper_selection_item a:hover .newspaper_selection_item_img {
	-webkit-box-shadow: 0px 1px 3px 8px #AAA;
	-moz-box-shadow: 0px 1px 3px 8px #AAA;
	box-shadow: 0px 1px 5px 2px #AAA;
	opacity: 1;
}

.newspaper_selection_item_selected .text-bottom {
	opacity: 1 !important;
	color: red !important;
	background-color: #EEE !important;
}

	/* Section Header */
.section-header {
	position: relative;
	background-color: #EEE;
	-webkit-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
	-webkit-box-shadow: 0 0 3px rgba(128, 128, 128, 1);
	-moz-box-shadow: 0 0 3px rgba(128, 128, 128,1);
	box-shadow: 0 0 3px rgba(128, 128, 128, 1);
	padding: 0em 1em;
	color: #444;
	height: 2.5em;
	line-height: 2.5em;
}

.section-header h4 {
	line-height: 2.5em;
}
.section_header_button {
	display: inline-block;
	position: absolute;
	right: 1em;
	line-height: 2.5em;
	top: 0em;
}

.section_header_button2 {
	display: inline-block;
	position: absolute;
	right: 10em;
	line-height: 2.5em;
	top: 0em;
}
	/* Newspaper Illustration */

#newspaper_illustration {
	-webkit-box-shadow: 0px 1px 5px 2px #ddd;
	-moz-box-shadow: 0px 1px 5px 2px #ddd;
	box-shadow: 0px 1px 5px 2px #ddd;
}

.text-over-image {
	position: relative;
}

.text-over-image .text-bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: .25em .5em;
	background: rgba(51, 51, 51, 0.95);
}

.text-over-image .text-top {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: .25em;
	color: #fff;
	background: rgba(51, 51, 51, 0.85);
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;;
}

.text-over-image .text-bottom a, .text-over-image .text-top a {
	color: white;
}

	/* Controls */

.slider-frame {
  position: relative;
  display: inline-block;
  width: 14em;
  height: 2em;
  background-color: #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

.slider-button {
  display: inline-block;
  width: 12em;
  height: 2em;
  line-height: 2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size:1em;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
}

.slider-button.on {
  margin-left: 2em;
  background-color: #EDF2F7;
}

abc {
 /* this is needed to fix some strange bug with the above code that breaks the following css statements*/
}

.selected_dropdown_rubric {
	background-color: #444;
}

	/* Articles */

.bordered, .bordered_clean, .bordered_wod {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.33);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
	margin: 2em 0em 0em 0em;
	/*border-top: 1px solid #555;*/
}

.bordered {
	background-image: url(../pic/newspaper_bg.png);
}

.bordered_wod {
	background-image: url(../pic/wod_bg.png);
}

.bordered_clean {
	background-color: rgb(250, 250, 250);
}


.bordered-header-bg {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.side_shadows {
    -moz-box-shadow: 2px 0 7px -6px #333, -2px 0 7px -6px #333, 0px 6px 7px -7px #333;
    -webkit-box-shadow: 2px 0 7px -6px #333, -2px 0 7px -6px #333, 0px 6px 7px -7px #333;
    box-shadow: 2px 2px 7px -8px #333, -2px 2px 7px -8px #333, 0px 6px 7px -7px #333;
}

.controls-box {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1em 1em;
	padding: .5em 1em;
	background-color: #EEE;
	color: #A6D873;
}

.rubric-header {
	margin: 1em 1em 0em 1em;
	padding: .5em 1.5em;
	background-color: #444;
	color: #EEE;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .66);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.66);
	box-shadow: 0 0 3px rgba(0, 0, 0, .66);
}

.rubric-header .icon-chevron-right {
	vertical-align: -10%;
	background-image: url("../img/glyphicons-halflings-white.png")
}

.rubric-header a {
	color: #EEE;
}

.rubric-header a:hover {
	color: #FFF;
}

.article-content {
	border: 1px solid #DDD;
	background-color: #FFF;/*#F7FAFA;*/
	margin: 0em 1em 1em 1em;
	padding: 1em 2em;
}

.article-illustration-container {
	padding: 1em 2em;
	text-align: center;
}

.article-illustration {
	border: 1px solid #777;
}

.article-header-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 2em 0em 0em;
}

.article-header-statistics {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0em 2em 0em 0em;

	line-height: 1.5em;
}

.article-header {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.article-author {
	padding-top: .5em;
	font-size: 1.1em;
}

.article-author a {
	color: #444;
}

.article-text {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 2em 0em 0em;
}

.article-paragraph {
	font-size: .9em;
	line-height: 1.25em;
}

.fill-h-space-img {
	width: 100%;
}

.qtr-h-space-img {
	width: 75%;
}

.half-h-space-img {
	width: 50%;
}

.article-statistics {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0em 2em 1em 0em;
	text-align: right;
}

.article-statistic {
	display: inline-block;
	word-wrap: break-word;
	padding: .25em .75em .25em 0em;
	font-size: .9em;
}

.article-statistic i {
	padding-right: .25em;
}

.article-statistic, .article-statistic a {
	color: #444;
}

.span12 > .article-content > section article > .article-illustration-container, .float_left { /* this is needed for full-width articles*/
	float: left;
	margin-right: 1.5em;
}

@media (min-width: 768px) {
	.container12 > .row > .span6:nth-child(odd) {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: .75em;
	}
	
	.container12 > .row > .span6:nth-child(even) {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: .75em;
	}

}

@media (max-width: 767px) {	
	.container12 > .bordered, .container12 > .bordered_clean {
		margin: 1.5em 1em 0em 1em;
	}
	
	.container12 > .row  {
		margin: 0em 1em;
	}

	.article-content {
		margin-bottom: 1em;
	}
	
	.rubric-header {
		margin-top: 1.5em;
	}
	
	#newspaper_issues {
		display: none;
	}
	
	.breadcrumb {
		margin-top: 1em;
		padding: .5em 1em;
	}
	
	.rubric-header {
		padding: .5em 1.5em 0em 1.5em !important;
	}
	
	.module_header {
		padding: .33em .75em 0em .75em !important;
	}
	
	ul.nav {
		padding-top: .5em;
	}
}



/* FOOTER */

#footer {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #4A0909;
	min-height: 5em;
	padding: 1em;
}

.sub_nav_item {
	font-family: 'Open Sans', sans-serif;
	font-size: .95em;
	line-height: 1.25em;
	color: white;
	font-weight: 700;
	padding-right: 1em;
}

.sub_nav_item:hover {
	color: #DDD;
	text-decoration: none;
}

#footer_navigation {
	margin: 0em 1em 1em 1em;
}

#footer_social_networks {
	margin: 0em 1em .5em 1em;
}

#footer_text{
	font-size: .8em;
	line-height: 1.25em;
	color: white;
	margin: 0em 1em;
}



/* common font-related */
.white {
	color: #FFF;
}

.dark {
	color: #555;
}

.black {
	color: #000;
}

.brown {
	color: #A52A2A;
}

.gray {
	color: #EEE;
}

.darkgray {
	color: #CCC;
}

.white_link:hover {
	color: #DDD;
}

.bright_link:hover {
	color: #BBB;
}

.black_link:hover {
	color: #444;
}

.brown_link:hover {
	color: #AE3F3F;
}

.dark_link:hover {
	color: #777;
}

.gray_link:hover {
	color: #FFF;
}

.right_align {
	text-align: right;
}

.center_align{
	text-align: center;
}

.left_align {
	text-align: left;
}

.middle_align {
	vertical-align: middle;
}

.top_align {
	vertical-align: top;
}

.bottom_align {
	vertical-align: bottom;
}

.baseline_align {
	vertical-align: baseline;
}

.justify_align {
	text-align: justify;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.bold{
	font-weight: bold;
}

.beige {
	color: #FFFEC3;
}

.no_indent{
	text-indent: 0;
}

.largetext {
	font-size: .95em;
}

.mediumtext {
	font-size: .85em;
}

.smalltext {
	font-size: .75em;
}

.microtext {
	font-size: .7em;
	font-weight: 400;
}

.light_padding_vertical {
	padding: .15em 0em;
}

.light_padding_horizontal {
	padding: 0em .15em;
}

.light_padding {
	padding: .15em;
}

.average_padding_vertical {
	padding: .25em 0em;
}

.average_padding_horizontal {
	padding: 0em .25em;
}

.average_padding {
	padding: .25em;
}

.big_padding_vertical {
	padding: .5em 0em;
}

.big_padding_horizontal {
	padding: 0em .5em;
}

.one_padding_horizontal {
	padding: 0em 1em;
}

.two_padding_horizontal {
	padding: 0em 2em;
}

.one_padding_vertical {
	padding: 1em 0em;
}

.two_padding_vertical {
	padding: 2em 0em;
}

.big_padding {
	padding: .5em;
}

.grande_padding {
	padding: .75em;
}

.padding_one {
	padding: 1em;
}

.no_padding {
	padding: 0em;
}

.no_margin {
	margin: 0em;
}

.no_underline {
	text-decoration: none !important;
}

.no_underline:hover {
	text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	text-rendering: optimizelegibility;
	font-family: 'Open Sans', san-serif;
	font-weight: 700;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.35em;
}
h3 {
  font-size: 1.20em;
}
h4 {
  font-size: 1em;
  line-height: 1.4em;
}
h5 {
  font-size: .95em;
  line-height: 1.35em;
}
h6 {
  font-size: .85em;
  line-height: 1.2em;
}
p {
	font-size: 1em;
	line-height: 1.2em;
	text-indent: 2em;
}

.span3, .span6, .span5 {
	position:relative; /* needed for shadows */
}

.common_social_network_img {
	width: 1.5em;
	height: 1.5em;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.half_opacity {
	opacity: .5;
}

.x-margin-one{
	margin-left: 1em;
	margin-right: 1em;
}

.x-margin-thrqtr{
	margin-left: .75em;
	margin-right: .75em;
}

.x-margin-half{
	margin-left: .5em;
	margin-right: .5em;
}

.y-margin-one{
	margin-top: 1em;
	margin-bottom: 1em;
}

.y-margin-two{
	margin-top: 2em;
	margin-bottom: 2em;
}

.y-margin-thrqtr {
	margin-top: .75em;
	margin-bottom: .75em;
}

.y-margin-half {
	margin-top: .5em;
	margin-bottom: .5em;
}

.person_name {
	font-family: Helvetica;
	cursor: pointer;
}


.main_tab_link:hover {
	border-color: #777;
}

.main_tab_link {
	cursor: pointer;
	color: white;
}

.main_tab_link:hover {
	color: #444;
}

.main_tab_link {
	padding: .5em !important;
	background-color: #777;
}



/* Article */

.article-page-illustration {
	margin: 1em 2em 2em 0em;
}

.article-page-illustration-comment {
	padding: .5em;
}

.article-page-main-header {
	margin: .25em 0em;
}

.article-page-main-subheader {
	display: block;
	margin: .5em 0em .25em 0em;
	font-size: 1.1em;
}

.article-page-time {
	color: #555;
	font-size: .85em;
	height: 1em;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.article-page-author-name {
	display: block;
	margin: .25em 0em .75em 0em;
}

.article-page-author-name a {
	font-size: 1.1em;
	font-weight: 500;
	color: #333;
}

.article-page-statistics {
	margin: .25em 0em;
}

.article-page-content {
	text-align: justify;
}

.article_category_list {
	margin: 1em 0em;
}

article {
	margin: .5em 0em;
}

article p {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	line-height: 1.25em;
	padding-bottom: .5em;
	font-size: .9em;
}

.article_background {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #fff;
}

@media (max-width: 767px) {
	.article_page_illustration {
		max-width: 33%;
	}
}

#articles_issues {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	background-color: #F6F9F9;
}

/* Comments */

#comments-section, #wod_opinions_section {
	margin-top: 1em;
}

#comments {
	margin: 0;

	padding-bottom: .75em;
}

.comment, #comment-form {
	padding: 1em .75em .25em 5.5em;
}

.comment-answer {
	padding: 1em .75em .25em 3.75em;
}

.avatar {
	float: left;
	background-image: url(../pic/dialogue.png);
	background-repeat: no-repeat;
	background-position: right;
}

.comment .avatar, #comment-form .avatar {
	margin-left: -5.75em;
	padding: .75em .75em;
	width: 4.25em;
	height: 4.25em;
}

.comment-answer .avatar {
	margin-left: -4em;
	padding: .75em .25em;
	width: 3.5em;
	height: 3.5em;
}

.comment .avatar a img, #comment-form .avatar a img {
	max-width: 4em;
	max-height: 4em;
	border: 1px solid #BBB;
}

.comment-answer .avatar a img {
	max-width: 2.75em;
	max-height: 2.75em;
	border: 1px solid #BBB;
}

.comment-author-name, .wod_opinion-author-name {
	color: #444;
	font-size: 1.15em;
	font-style: italic;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.comment-time {
	display: block;
	float: right;
	color: #555;
	font-size: .8em;
	height: 1em;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.inner .body {
	background-color: #F8FBFB;
	border-top: 1px solid #E5E7E7;
	border-right: 1px solid #E5E7E7;
	border-bottom: 1px solid #E5E7E7;
	padding: .75em 1.5em;
	-webkit-box-shadow: -1px 0px 7px -2px #555;
	-moz-box-shadow: -1px 0px 7px -2px #555;
	box-shadow: -1px 0px 7px -2px #555;
}

.inner .body .text {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	padding: 1.25em 0em 1em 0em;
}

.inner .body .text p {
	line-height: 1.25em;
	font-size: 1em;
	text-indent: 0;
}

.alert-hidden {
	margin: 1.25em 0em 0em 0em;
	font-size: .85em;
}

.comment-text-display {
	display: block;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}

.inner .body .btn-toolbar .btn-group a, .inner .body .btn-toolbar .btn-group i {
	vertical-align: top;
}

.reply-button a {
	font-weight: 700;
	font-size: .95em;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	color: #444 !important;
}





#comment-form {
	background-color: #DDD;
}

.article-page-leave-comment {
	float: right;
	line-height: 1.5em;
	font-weight: 700;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	color: #EEE !important;
}

.clearfixer::after {
clear: both;
}

.clearfixer::before, .clearfixer::after {
display: table;
content: "";
}

form {
display: block;
margin-top: 0em;
}

fieldset {
padding: 0;
margin: 0;
border: 0;
}

input, textarea {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-ms-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
}

input, textarea, select, .uneditable-input {
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#comment-form textarea {
height: 100px;
padding: 5px;
}

.markItUp {
width: 100%;
margin: 5px 0 5px 0;
}

.markItUp * {
margin: 0;
padding: 0;
outline: 0;
}

.markItUpContainer {
	font: .9em Verdana,Arial,Helvetica,sans-serif;
}

.markItUpHeader ul li {
list-style: none;
float: left;
position: relative;
}

.markItUpHeader ul a {
display: block;
width: 1em;
height: 1em;
text-indent: -10000px;
background-repeat: no-repeat;
padding: .25em;
margin: 0;
}

.markItUpEditor {
font: .9em Verdana,Arial,Helvetica,sans-serif;
width: 100%;
height: 320px;
clear: both;
overflow: auto;
}

.markItUp .markItUpButton1 a {
background-image: url(http://zavtra.ru/static/js/markitup/sets/markdown/images/bold.png);
}

.markItUp .markItUpButton2 a {
background-image: url(http://zavtra.ru/static/js/markitup/sets/markdown/images/italic.png);
}

.markItUp .markItUpButton3 a {
background-image: url(http://zavtra.ru/static/js/markitup/sets/markdown/images/link.png);
}


.module_header {
	padding: .33em .75em;
	background-color: #555;
}

.article-page-module-footer {
	background-color: #CCC;
	padding: .25em .75em;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
}

.article-page-module-article {
	padding: .5em .75em;
}

.article-page-module {
	text-align: right;
	margin: 1em 0em 1em 2em;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

/* WOD */

.wod_quote {
	font-size: .9em;
	padding: .5em 1em;
}

.wod_quote_source {
	font-size: .9em;
	padding: 0em 2em 1em 1em;
	text-align: right;
	color: #444;
	display: block;
}

.wod_opinion_text {
	padding: 0em 1em;
	margin-left: 8em;
}

.wod_opinion-author-name {
	margin-bottom: 1em;
	display: block;
}

.wod_opinion {
	position: relative;
	padding: 1em 0em;
}

.wod_opinion_avatar {
	position: absolute;
	width: 7em;
}

.wod_opinion_avatar img {
	border: 1px solid #CCC;
}

#wod_details {
	margin-top: 15em;
	margin-bottom: 3em;
	margin-left: -1.5em;
}

@media (max-width: 767px) {
	#wod_details {
		margin-top: 1em;
		font-size: 1.1em;
		margin-left: 1em;
	}
}

.onepxline {
	height: 1px;
	width: 100%;
	display: block;
}

.wod_entry_header {
	background-color: #FFF;
	margin-top: 2em;
}

.wod_entry_header div {
	padding: .5em 2em .5em 2em;
}

.wod_entry_content {
	background-color: #FFF;
	margin-bottom: 1em;
}

.wod_entry_img {
	padding: .5em 2em 1em 2em;
}

.wod_entry_text {
	padding: 0em 2em 0em 2em;
}

.wod_entry_text > a, .wod_entry_text p{
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	line-height: 1.25em;
	font-size: .9em;
}

.wod_entry_text h2, .wod_entry_text h3, .wod_entry_text h5, .wod_entry_text h4 {
	padding-bottom: .5em;
}

.wod_entry_text h5, .wod_entry_text h4 {
	padding-top: 1em;
}

.wod_entry_text div {
	padding: 1em 0em;
}
.wod_entry_content a img {
	-webkit-box-shadow: -1px 0px 7px 2px #222;
	-moz-box-shadow: -1px 0px 7px 2px #222;
	box-shadow: -1px 0px 7px 2px #222;
}
	
	
/* end WOD */


/* NEWS */

.news_selection_item {
	margin: 1em 1em 1em 1em;
	word-wrap: break-word;
}

.news_selection_item_img_small {
	-webkit-box-shadow: 0px 1px 3px 8px #ddd;
	-moz-box-shadow: 0px 1px 3px 8px #ddd;
	box-shadow: 0px 1px 5px 2px #ddd;
	opacity: .9;
	height: 7.5em;
	width: 10em;
}

.news_selection_item_img_big {
	-webkit-box-shadow: 0px 1px 3px 8px #ddd;
	-moz-box-shadow: 0px 1px 3px 8px #ddd;
	box-shadow: 0px 1px 5px 2px #ddd;
	opacity: .9;
	height: 13.5em;
	width: 18em;
}

.news_selection_item_img {
	-webkit-box-shadow: 0px 1px 3px 8px #ddd;
	-moz-box-shadow: 0px 1px 3px 8px #ddd;
	box-shadow: 0px 1px 5px 2px #ddd;
	opacity: .9;
	height: 9.75em;
	width: 13em;
}

.news_selection_item a:hover .newspaper_selection_item_img {
	-webkit-box-shadow: 0px 1px 3px 8px #AAA;
	-moz-box-shadow: 0px 1px 3px 8px #AAA;
	box-shadow: 0px 1px 5px 2px #AAA;
	opacity: 1;
}

.selection_item_statistics {
	background: #EEE;
    background: -moz-linear-gradient(top, #FFF, #EEE); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#FFF), color-stop(100%,#EEE));
    background: -webkit-linear-gradient(top, #FFF, #EEE);
    background: -o-linear-gradient(top, #FFF, #EEE); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFF, #EEE); /* IE10 */
    background: linear-gradient(top, #FFF, #EEE); /* CSS3 */ 
	border: 1px solid #CCC;
	padding: 0em .5em;
	color: #333;
	line-height: 1.25em;
}

.selection_item_statistics span {
	float: right;
}
.selection_item_statistics span, .selection_item_statistics a {
	vertical-align: top;
}

.selection_item_statistics img {
	width: 1.33em;
	padding-left: .33em;
}

.page-module-article {
	padding: 1em 1em 0em 1em;
}

.page-module-article > a {
	padding: .5em 0em;
	display: block;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	line-height: 1.25em;
	font-size: .9em;
}


/* end of NEWS */


/* */
.calendar_navigation_img_2 {
	height: 1.5em;
	vertical-align: -25%;
}

.calendar_navigation_img_1 {
	height: 1.5em;
	vertical-align: -15%;
}

#inner_subjects {
	background-color: #DDD;
	padding-left: 1em;
	padding-top: .25em;
	height: 1.5em;
	border: 1px solid #C2C08C;
	text-align: center;
	font-family: 'Open Sans', Tahoma;
	font-size: .9em;
}

a.subject_nav_item, span.subject_nav_item {
	font-family: 'Open Sans', Tahoma;
	font-size: 1em;
	padding-right: 1.25em;
	font-weight: bold;
}

a.subject_nav_item:hover {
	text-decoration: underline;
}

.ui-datepicker {
	width: auto !important;
}

td.highlight {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}
td.highlight a {background: #99dd73 url(bg.png) 50% 50% repeat-x !important;  border: 1px #88a276 solid !important;}

/* Newspaper Archive */

.ui-state-active {
	font-weight: 900 !important;
}

.ui-state-highlight {
	border: 1px solid lightGrey !important;
	background-color: #E6E6E6 !important;
	background: #E6E6E6 !important;
}

.ui-combobox {
	position: relative;
	display: inline-block;
}
.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}
.ui-combobox-input {
	margin: 0;
	padding: 0.3em;
}

.newspaper_review_rubric .span5, .newspaper_review_rubric .span4, .newspaper_review_rubric .span3 {
	padding: .5em 1em .5em 1.5em;
}

.newspaper_review_rubric h2 {
	margin-top: 1em;
}

.newspaper_review_rubric .onepxline {
	margin: .33em 0em;
}

.newspaper_review_statistics {
	text-align: right;
	padding-right: 1.5em;
}

.main_tab_link {
	padding: .2em !important;
	background-color: #777;
	cursor: pointer;
	color: white;
}

.nav-tabs > li.active > a {
	background-color: #DDD;
	color: #333;
}

.nav-tabs > li {
	padding: 0em .15em;
}

.main_tab_link:hover {
	color: #555 !important;
}

.author_sort_by_text {
	padding-left: 13em;
	vertical-align: middle;
	font-weight: bold;
	font-size: .85em;
}

#author_alphabet_name {
	background-color: #B4C3D7;
	margin: 0em 1em 0em 1em;
	padding: .5em 0em;
	min-height: 1.66em;
	text-align: center;
}

#author_alphabet_name form {
	display: inline-block;
	padding-left: .75em;
	vertical-align: middle;
	padding-top: .5em;
}

#author_alphabet_name input {
	width: 12.5em;
}

#author_alphabet_name a {
	padding: 0em .25em;
	text-decoration: underline;
	font-weight: 600;
	color: #333;
	font-size: .9em;
	font-family: 'Open Sans', Tahoma;
}

#author_alphabet_name a:hover {
	text-decoration: none;
	color: #444;
}

#author_alphabet_name span {
	padding: 0em .15em;
	text-decoration: none;
	font-weight: 600;
	color: #777;
}

#author_search_box {
	padding: 0em 1em;
	background-color: #B4C3D7;
	margin: 0em 1em 0em 1em;
	text-align: right;
}

#author_search_box input {
	border: 1px solid #999;
}

#selected_letter {
	color: #222 !important;
	text-decoration: none;
	font-size: 1.25em;
}

.author-description {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	padding-right: 2em;
	padding-top: .5em;
}

.author-actions {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	margin: 0em 1em 3em 1em;
	text-align: center;
	padding: .25em 2em;
	background-image: url('../pic/gradient_grayscale_line_opacity.png');
	background-repeat: repeat-y;
	background-position: center;
	background-size: contain; 
}

.author_link {
	padding-left: 1em;
	font-weight: 500;
}

.author_link:hover {
	color: #444;
}

.author_fresh_article_header {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1em 2em 0em -1em;
	padding: .25em 1em;
	background-color: #EEE;
}


.news-illustration-container {
	padding: 1em 1em;
	text-align: center;
}

.news-illustration {
	border: 1px solid #777;
}

.news-header-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 2em .5em 1em;
}

.news-subject-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1.25em 2em 0em 0em;
	line-height: 1.5em;
}

.news-header-statistics {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0em 0em 0em 1em;
	line-height: 1.5em;
}

.news-header {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.news-text {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 2em 0em 2em;
}

.news-paragraph {
	font-size: .9em;
	line-height: 1.25em;
}


.archive_selector_category {
	font-weight: 700;
	color: #444;
	padding-right: .5em;
}

.archive_selector a {
	text-decoration: underline;
	padding: 0em .25em;
	line-height: 2em;
	display: inline-block;
}

.archive_selector a:hover {
	text-decoration: none;
	color: #555;
}

.archive_selector_selected {
	padding: 0em .25em;
	font-weight: 800;
	line-height: 2em;
	vertical-align: middle;
	display: inline-block;
}

.blogentries {
	padding-right: 1em;
}

.inner_blogentry, .inner_blogentry_new, .inner_blogentry_top {
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
	position: relative;
	padding: 0em 0em .25em 0em;
	margin: 1em 0em 1em 1em;
	background-color: #fff;
	float: left;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
    background: -moz-linear-gradient(top, #fff, #E6ECF5); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#fff), color-stop(100%,#E6ECF5));
    background: -webkit-linear-gradient(top, #fff, #E6ECF5);
    background: -o-linear-gradient(top, #fff, #E6ECF5); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #E6ECF5); /* IE10 */
    background: linear-gradient(top, #fff, #E6ECF5); /* CSS3 */ 
}

.inner_blogentry {
	width: 13.66em;
}

.inner_blogentry_new {
	width: 21em;
}

.inner_blogentry_author {
	padding: .5em;
	position: relative;
	line-height: 1.15em;
}

.inner_blogentry .inner_blogentry_author {
	margin-left: 5em;
	height: 3.25em;
}

.inner_blogentry_new .inner_blogentry_author {
	margin-left: 7em;
	height: 2em;
}

.inner_blogentry .inner_blogentry_author_pic {
	left: .75em;
	top: 2.25em;
	position: absolute;
}

.inner_blogentry_new .inner_blogentry_author_pic {
	left: .75em;
	top: 2.25em;
	position: absolute;
}

.inner_blogentry .inner_blogentry_author_pic img{
	max-height: 3.75em;
	max-width: 3.75em;
}

.inner_blogentry_new .inner_blogentry_author_pic img{
	max-height: 6em;
	max-width: 6em;
}

.inner_blogentry_header {
	position: relative;
	padding: .75em .75em 0em .75em;
}

.inner_blogentry .inner_blogentry_header {
	height: 4.75em;
}

.inner_blogentry_new .inner_blogentry_header {
	height: 4.75em;
	margin-left: 6.75em;
}

.inner_blogentry_header > a {
	font-size: .9em;
	font-weight: 700;
}

.inner_blogentry_statistics {
	position: absolute;
	bottom: 0.25em;
	right: .75em;
	text-align: right;
	padding-top: .5em;
}

.inner_blogentry_statistics a {
	color: #444;
}

.inner_blogentry_statistics a:hover {
	color: #555;
}

.inner_blogentry_statistics img {
	margin-left: .5em;
}

.inner_blogentry_statistics a {
	font-size: .85em;
	vertical-align: top;
}

.inner_blogentry_date_box, .inner_blogentry_date_box_new {
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
	margin-bottom: .5em;
	position: relative;
	height: 1.25em;
	padding-right: .75em;
	text-align: right;
}

.inner_blogentry_date_box_new {
	background-color: #CF4444;
	-webkit-box-shadow: 0px 2px 3px 1px #999;
	-moz-box-shadow: 0px 2px 3px 1px #999;
	box-shadow: 0px 2px 3px 1px #999;
}

.inner_blogentry_date_box {
	background-color: #444;
	-webkit-box-shadow: 0px 2px 3px 1px #777;
	-moz-box-shadow: 0px 2px 3px 1px #777;
	box-shadow: 0px 2px 3px 1px #777;
}

.inner_blogentry_date_content {
	color: white;
	font-size: .8em;
	text-align: right;
}

.inner_blogentry_new_tag {
	position: absolute;
	left: .75em;
	font-weight: 500;
	color: white;
}

.top_selection_item {
	margin: 0em 1em 0em 1em;
	padding: 1em 0em 0em 0em;
	word-wrap: break-word;
	position: relative;
	background-color: #B4C3D7;
}

.top_selection_item_pic {
	position: absolute;
	top: 1em;
	left: 0em;
	padding: .75em .75em;
	width: 3em;
}

.top_selection_item_pic img {
	width: 100%;
	height: 100%;
}

.top_selection_details {
	min-height: 7em;
	background: #444;
    background: -moz-linear-gradient(top, #444, #333); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#444), color-stop(100%,#333));
    background: -webkit-linear-gradient(top, #444, #333);
    background: -o-linear-gradient(top, #444, #333); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #444, #333); /* IE10 */
    background: linear-gradient(top, #444, #333); /* CSS3 */ 
}

.top_selection_item_author {
	border-top: 1px solid #AAA;
	padding-left: 4.5em;
	padding-top: .5em;
}

.top_selection_item_author a {
	color: #FFF;
	font-size: .9em;
}

.top_selection_item_author a:hover {
	color: #EEE;
}

.top_selection_item_header {
	padding: .5em 0em .5em 4.5em;
}

.top_selection_item_header a {
	color: #FFF;
	font-size: .9em;
	font-weight: 700;
}

.top_selection_item_header a:hover {
	color: #EEE;
}

.top_selection_item .selection_item_statistics span a {
	font-size: .85em;
}

.top_selection_item .selection_item_statistics span a img {
	margin-right: .25em;
	margin-left: .5em;
}

.inner_editor_container {
	position: relative;
}

.inner_editor_message {
	border-radius: 5px;
	margin: 1em 1em 1em 1em;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: white;
	min-height:5.5em;
	z-index:1;
	position: relative;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #CCC;
	-webkit-box-shadow: 0px 2px 9px 1px #CCC;
	-moz-box-shadow: 0px 2px 9px 1px #CCC;
	box-shadow: 0px 2px 9px 1px #CCC;
}

.inner_editor_message:hover {
	border: 1px solid #BBB;
}

.inner_editor_message_text {
	padding: 1% 1%;
	width: 73%;
	text-align:center;
}

.inner_editor_message_header {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #555;
	height: 1.75em;
	width: 13.5em;
	color: #EEE;
	font-family: 'Open Sans';
	text-align: center;
}

.inner_editor_message_img {
	position: absolute;
	left: 75%;
	height: 5.5em;
}

#datepicker .ui-widget {
	font-size: 1em;
}

#datepicker .ui-widget-header {
	background: #555;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .66);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.66);
	box-shadow: 0 0 3px rgba(0, 0, 0, .66);
}

#datepicker .ui-widget-content {
	border: none;
}

#datepicker .ui-datepicker {
	padding: 0em;
}

#datepicker .ui-datepicker-header {
	padding: .33em .75em;
}

#datepicker .ui-datepicker-title {
	line-height: 1.4em;
	font-size: 1em;
	color: #EEE;
}

#datepicker .ui-icon-circle-triangle-e {
	background-position: -264px -96px;
}

#datepicker .ui-icon-circle-triangle-w {
	background-position: -240px -96px;
}

#datepicker .ui-widget-header .ui-icon {
	background-image: url("../img/glyphicons-halflings-white.png");
}

#datepicker .ui-state-hover {
	background: #777;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 !important;
}

li.empty span.large {
	width: 7em !important;
}

#person_background {
	width: 100%;
	position: absolute;
	left: 0em;
	top: 9.5em;
	background: #444;
    background: -moz-linear-gradient(top, #333, #222); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#333), color-stop(100%,#222));
    background: -webkit-linear-gradient(top, #333, #222);
    background: -o-linear-gradient(top, #333, #222); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333, #222); /* IE10 */
    background: linear-gradient(top, #333, #222); /* CSS3 */ 
}

.person_breadcrumb {
	padding: 1em 1.25em;
}

#person_name_navigation {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 1.5em;
	height: 12em;
	position: relative;
	background: #444;
    background: -moz-linear-gradient(top, #444, #222); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#444), color-stop(100%,#222));
    background: -webkit-linear-gradient(top, #444, #222);
    background: -o-linear-gradient(top, #444, #222); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #444, #222); /* IE10 */
    background: linear-gradient(top, #444, #222); /* CSS3 */ 
}

.person_uppercase_name {
	font-size: 2em;
	text-transform: uppercase;
	color: #FFF; 
}

.person_regalii {
	font-size: .9em;
	color: #FFF;
	display: block;
	padding-top: .5em;
}

#person_pic {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 1.5em;
	height: 12em;
	background: #444;
	position: relative;
    background: -moz-linear-gradient(top, #444, #222); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#444), color-stop(100%,#222));
    background: -webkit-linear-gradient(top, #444, #222);
    background: -o-linear-gradient(top, #444, #222); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #444, #222); /* IE10 */
    background: linear-gradient(top, #444, #222); /* CSS3 */ 
}

#person_pic img{
	max-height: 10.5em;
	position: absolute;
	bottom: 0;
	
}

.person_navigation_container {
	position: absolute;
	bottom: 0em;
	border-left: 1px solid #333;
}

#person_navigation_selected {
	background-color: #444; 
}

#person_navigation_selected a {
	font-size: .95em; 
}

.person_navigation {
	line-height: 1.5em;
	border-right: 1px solid #333;
	background: #222;
	padding: .5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.person_navigation a {
	font-size: .95em;
	font-weight: 700;
	vertical-align: baseline;
	color: #FFF;
	text-decoration: none;
}

.person_navigation a:hover {
	color: #CCC;
}

#person_content {
	padding-top: 13em;
	padding-bottom: 2em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #EEE;
	border: 1px solid #777;
}

#person_content article {
	border-radius: 5px;
	background-color: #FFF;
	margin: 1em 0em;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#person_about {
	border-radius: 5px;
	background-color: #FFF;
	margin: 0em 1em;
	padding: 1em 2em;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#person_about p {
	padding: .5em 0em;
}

#person_subscriptions {
	padding: 2em 0em 0em 1em;
	position: relative;
}

#person_subscriptions h3 {
	padding-left: 1em;
}

.person_entry {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 1em 1em 0em 0em;
	background-color: #fff;
	float: left;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
    background: -moz-linear-gradient(top, #fff, #E6ECF5); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#fff), color-stop(100%,#E6ECF5));
    background: -webkit-linear-gradient(top, #fff, #E6ECF5);
    background: -o-linear-gradient(top, #fff, #E6ECF5); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff, #E6ECF5); /* IE10 */
    background: linear-gradient(top, #fff, #E6ECF5); /* CSS3 */ 
	width: 12em;
}

.person_entry_name {
	padding: .5em;
	position: relative;
	line-height: 1.15em;
}

.person_entry .person_entry_name {
	margin-left: 5em;
	height: 4em;
}

.person_entry .person_entry_pic {
	left: .75em;
	top: .75em;
	position: absolute;
}

.person_entry_pic img {
	max-height: 3.75em;
	max-width: 3.75em;
}

#person_actions {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0em 0em 1em 1em;
}

.subscribe_button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #555;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
	border-radius: 5px;
	height: 1.75em;
	margin-left: 1em;
	display: block;
	text-align: center;
	line-height: 1.75em;
	width: 9em;
	float: right;
	padding: 0em .25em;
}

.subscribe_button span {
	font-size: .85em;
	color: #FFF;
	vertical-align: bottom;
}

#person_content #datepicker {
	padding: 0em 0em 1em 0em;
}

#person_statistics {
	border-radius: 5px;
	background-color: #FFF;
	margin: 0em 0em 0em 2em;
	padding: 1em;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#person_content .news-header-container {
	padding: 1.5em 1em 0em 1.5em;
}

#person_content .news-illustration-container {
	padding: 1.5em 1em 1.5em 1.5em;
}

.person_search_result {
	border-radius: 5px;
	background-color: #FFF;
	margin: 1em 0em;
	padding: 1em 0em;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.person_search_bar {
	border-radius: 5px;
	background-color: #FFF;
	margin: 1em 0em;
	padding: 0em 0em 1em 0em;
	-webkit-box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-shadow: 0px 2px 9px 1px #AAA;
	box-shadow: 0px 2px 9px 1px #AAA;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.person_search_bar > div {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

#top_selection {
	padding-left: 1em;
	padding-top: 1em;
}

@media (min-width: 1025px) and (max-width: 1199px) {
	body {
		font-size: 14px;
	}

	#page {
		width: 966px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	body {
		font-size: 11px;
	}
	
	#page {
		width: 759px;
	}
}

@media (max-width: 767px) {
	
	body {
		background-color: #AAA; /* marker */
	}
	
	#page, #header {
		width: 96%;
	}

	.nav_item {
		margin: 0em 0.25em 0em .25em;
		padding: 0em .5em;
	}

	#header {
		height: auto;
	}
	
	#main_navigation_line {
		height: auto;
		width: 100%;
	}
	
	#main_header_search {
		margin-bottom: .25em;
	}

	.nav {
		float: none;
	}
	
	.author_sort_by_text {
		padding-left: 0em !important;
	}

	.author_fresh_article_header, .article-header-container, .author-description, .article-header-statistics, .article-text {
		margin-left: 1em;
		margin-bottom: .5em;
	}


	/* to make person page work */
	#person_background {
		position: static;
	}
	#person_content {
		padding-top: 1em;
	}
	#person_pic {
		float: left;
		width: 25%;
	}
	.person_uppercase_name {
		font-size: 1.4em;
	}
	#person_name_navigation {
		float: left;
		width: 75%;
		padding-right: 1em;
	}
	.person_navigation {
		float: right;
		width: inherit;
	}
	.person_navigation_container{
		padding-top: 1em;
		position: static;
		border-left: none;
	}
	#person_content article {
		margin: 1em;
	}
	#person_statistics {
		margin: 1em;
	}
	#person_actions {
		padding-right: 1em;
		margin-bottom: 2em;
	}
	#datepicker {
		width: 15em;
		padding-left: 1em;
		margin: auto;
	}
}

@media (min-width: 768px) {
	.nav {
		float: right;
	}
}
