{% extends base_template %}

{% load pytils_dt %}

{% block content %}
<div class="clearfix"><a class="btn info" href="{% url editorial.view.index %}">&larr;&nbsp;назад к списку тем</a></div>
<div class="row">
    <article class="span8 rubric">
	<header>
	    <h3>{{ root.title }}</h3>
	    <h5>{{ root.author }}</h5>
	</header>
        <div class="content" >{{ root.text|linebreaksbr }}</div>
        <footer>
	    <h4>Ответы</h4>
	    <ul class="unstyled">
	    {% for obj in object_list %}
	    <li>
		<strong>{{ obj.author }} пишет {{ obj.created_at|ru_strftime:"%d %B %Y" }}:</strong>
		<div>{{ obj.text|linebreaks }}</div>
	    </li>
	    {% endfor %}
	    </ul>
	    <form method="post" action="{{ root.get_absolute_url }}">
	        {% csrf_token %}
	        <div class="clearfix">
		    <label>Ответ:</label>
		    <div class="input"><textarea rows="6" class="xxlarge" name="text"></textarea></div>
		</div>
		<div class="actions">
		    <input type="submit" class="btn primary" value="Ответить" />
		    <input type="reset" class="btn danger" value="Сбросить" />
		</div>
	    </form>
	</footer>
    </article>
    <article class="span4">
	<h2>Patria o muerte!&nbsp;<small>Viva la Fidel!</small></h2>
    </article>
</div>
{% endblock %}