<%inherit file="../base.html"/>
<%block name="main_column">
<a class="btn btn-info" href="/editorial/">&larr;&nbsp;назад к списку тем</a>
<h3>${ root.title }</h3>
<h5>${ root.author }</h5>
<div>${ u'<br/>'.join(root.text.split('\n')) }</div>
<h4>Ответы</h4>
<div class="comments">
    <ul class="unstyled">
	% for obj in object_list:
	<li class="comment">
	    <div class="inner">
		<div class="body">
		    <strong>${ obj.author } пишет ${ self.ru_date(obj.created_at, inflected=True, format=u'%d %B %Y') }:</strong>
		    <div class="text">${ '<br/>'.join(obj.text.split('\n')) }</div>
		</div>
	    </div>
	</li>
	% endfor
    </ul>
</div>
<form method="post" action="${ root.get_absolute_url() }">
    <fieldset>
	<div><input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" /></div>
	<div>
	    <label>Ответ:</label>
	    <div class="input"><textarea rows="6" class="span8" name="text"></textarea></div>
	</div>
	<div class="btn-group">
	    <input type="submit" class="btn btn-success" value="Ответить" />
	    <input type="reset" class="btn btn-danger" value="Сбросить" />
	</div>
    </fieldset>
</form>
</%block>