{% extends base_template %}

{% load pytils_dt %}

{% block content %}
<section class="container container_16 clearfix">
    <article class="alpha grid_8 block">
	<header><h1>Редакционный блог</h1></header>
	<dl class="content">
	    {% for obj in object_list %}
	    <dt>
		<a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>&nbsp;{{ obj.author }}&nbsp;({{ obj.created_at|ru_strftime:"%d %B %Y" }})
	    </dt>
	    <dd>{{ obj.text }}</dd>
	    {% endfor %}
	</dl>
	<div class="buttons">
	    <a class="button green" href="{% url editorial.view.create_thread %}"><span class="label">Создать новую тему</span></a>
	</div>
        {% if is_paginated %}
	<footer class="buttons">
	    {% if page_obj.has_next %}<a class="button" href="?page={{ page_obj.next_page_number }}"><span class="icon icon64"></span></a>{% endif %}
	</footer>
	{% endif %}
    </article>
    <article class="grid_8 omega"><h1>Patria o muerte!</h1></article>
</section>
{% endblock %}